<img
  src='{{cdn}}/images/logos/secondary-interflux-electronics-logo-1-transparent.svg'
  width='3960'
  height='1000'
  alt='Interflux Electronics'
/>
<a href={{href-to 'language.index' 'en'}}>
  <span>Continue in </span>
  <strong>English</strong>
</a>
<a href={{href-to 'language.index' 'de'}}>
  <span>Weiter auf </span>
  <strong>Deutsch</strong>
</a>
<a href={{href-to 'language.index' 'fr'}}>
  <span>Continuer en </span>
  <strong>français</strong>
</a>
<a href={{href-to 'language.index' 'es'}}>
  <span>Continuar en </span>
  <strong>español</strong>
</a>