<Section @id='search' @aria-labelledby='search-h2'>
  <h2 id='search-h2' class='h2'>{{t 'Search our network' 'contact.38'}}</h2>

  {{#if @isLoading}}
    <p class='p'>{{t 'Loading ...' 'contact.39'}}</p>
  {{else}}
    <p class='p'>
      {{t 'Enter the name of a company, person or country.' 'contact.40'}}
    </p>

    <TextInput
      @value={{this.query}}
      @icon='search'
      @theme='classic'
      @onKeyUp={{this.onKeyUp}}
    />

    <FilterableList @updateCounter={{this.updateCounter}}>
      <ul class='companies'>
        {{#each this.sortedCompanies as |company|}}
          <li data-search-parent>
            <LinkTo @route='partners.map' @query={{hash show=company.slug}}>
              <div class='company'>
                <h3 class='h3' data-search-me>{{company.businessName}}</h3>
              </div>

              <div class='country'>
                <Flag @country={{company.country}} />
                <p class='p' data-search-me>
                  {{t
                    company.country.nameEnglish
                    'contact.41'
                    company.country.id
                  }}
                </p>
              </div>

              <div class='members'>
                <ul>
                  {{#each company.members as |member i|}}
                    {{#if (lt i 3)}}
                      {{#let member.person as |person|}}
                        <li>
                          <div class='avatar'>
                            {{#if person.avatarPath}}
                              <ResponsiveImage
                                @path={{person.avatarPath}}
                                @variations={{person.avatarVariations}}
                                @alt={{person.fullName}}
                              />
                            {{else}}
                              <img
                                src='{{cdn}}/images/public/no-avatar.svg'
                                aria-hidden='true'
                                width='27'
                                height='27'
                              />
                            {{/if}}
                          </div>
                          <p class='p' data-search-me>{{person.fullName}}</p>
                        </li>
                      {{/let}}
                    {{/if}}
                  {{/each}}
                </ul>
              </div>

              <div class='arrow'>
                <Svg::ArrowRight />
              </div>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </FilterableList>

    {{#if (eq this.matches 0)}}
      <p class='p'>{{t 'No results for' 'contact.42'}} "{{this.query}}".</p>
    {{/if}}
  {{/if}}
</Section>