<nav id='breadcrumbs' aria-label='breadcrumbs'>
  <ol>
    {{#each @crumbs as |crumb|}}
      <li>
        {{#if crumb.route}}
          {{#if crumb.model}}
            <LinkTo @route={{crumb.route}} @model={{crumb.model}}>
              {{crumb.label}}
            </LinkTo>
          {{else}}
            <LinkTo @route={{crumb.route}}>
              {{crumb.label}}
            </LinkTo>
          {{/if}}
          <Svg::ArrowRight />
        {{else}}
          <p>{{crumb.label}}</p>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</nav>