<Page @id="processes">
  <Header />

  <Section @id="intro">
    <h1>Research is at the core of our philosophy.</h1>
    <p>The one thing preventing electronics manufacturers from achieving <strong>high reliability</strong>, is often the soldering chemistry they use. Interflux has been researching all techniques and trends in electronics manufacturing for over 40 years. We have <strong>tailor-made soldering chemistry</strong> for each of these processes and their edge-cases.</p>
  </Section>

  <Section @id="list">
    <nav>
      {{#each this.processes as |process|}}
        {{#if process.hasPage}}
          <Button::Route
            @route="processes.process"
            @model={{process.slug}}
          >
            <div class="title">
              <Icon @name={{process.icon}} />
              <h2>{{capitalise process.name}}</h2>
            </div>

            <div class="bg">
              {{#if (or this.media.isDesktop this.media.isWidescreen)}}
                <ResponsiveImage
                  @path="images/processes/{{process.hero}}-short"
                  @sizes={{array '1920x280' '960x140'}}
                  @formats={{array 'jpg' 'webp'}}
                />
              {{/if}}

              {{#if (or this.media.isTablet)}}
                <ResponsiveImage
                  @path="images/processes/{{process.hero}}-tall"
                  @sizes={{array '1920x720' '960x360'}}
                  @formats={{array 'jpg' 'webp'}}
                />
              {{/if}}

              {{#if (or this.media.isMobile)}}
                <ResponsiveImage
                  @path="images/processes/{{process.hero}}-square"
                  @sizes={{array '1200x1200' '600x600'}}
                  @formats={{array 'jpg' 'webp'}}
                />
              {{/if}}
            </div>
          </Button::Route>
        {{/if}}
      {{/each}}
    </nav>
  </Section>

  <Footer />
</Page>