<Page @id="processes">
  <Header />

  <Section @id="intro">
    <h1>We've perfected the chemistry you need.</h1>
    <p>The one thing preventing electronics manufacturers from
      achieving <strong>high reliability</strong>, is often the soldering
      chemistry they use.
      Interflux has been researching all techniques and trends in electronics
      manufacturing for over 40 years. We have <strong>tailor-made soldering
        chemistry</strong>
      for each of these processes and their edge-cases. <br><br>Do
      <LinkTo @route="contact">reach out</LinkTo> to tap into our extensive
      know-how.</p>
  </Section>

  <Section @id="list">
    <nav>
      {{#each this.processes as |process|}}
        {{#if process.hasPage}}
          <Button::Route
            @route="processes.process"
            @model={{process.slug}}
          >
            <div>
              <Icon @src="{{cdn}}/images/icons/{{process.icon}}.svg" />
              <h2>{{capitalise process.name}}</h2>
            </div>
            <ResponsiveImageTwo @image={{hash
                path='/images/processes/heros'
                formats='jpg,webp'
              }} />
            <Image
              @class="bg"
              @src="{{cdn}}/images/processes/{{process.hero}}.jpg"
              @id={{process.slug}}
            />
          </Button::Route>
        {{else}}
          <!-- no page for {{process.name}} -->
        {{/if}}
      {{/each}}
    </nav>
  </Section>

  <Footer />
</Page>