{{#if editing}}
  <label for="title">Title</label>
  <Input
    @id="title"
    @value={{article.title}}
  />
  <label for="title">Body</label>
  <Textarea
    @id="body"
    @value={{article.body}}
  />
  <button {{on "click" (fn this.save article)}}>save</button>
  <button {{on "click" (fn this.cancel article)}}>cancel</button>
{{else}}
  <h2>{{article.title}}</h2>
  <p>{{article.body}}</p>
  <button {{on "click" (fn this.edit article)}}>edit</button>
  <button {{on "click" (fn this.delete article)}}>delete</button>
  <p><small>{{article.createdAt}}</small></p>
{{/if}}

{{#if loading}}
  <LoadSpinner @icon="cup" />
{{/if}}