<Page
  @id={{@model.process.slug}}
  @class="process"
>
  <Header />

  <ProcessContent @process={{@model.process}} />

  <!-- TODO: Make product section per product family -->

  <Section::Text>
    <Icon @src="{{cdn}}/images/icons/alcohol.svg" />
    <h3>Products for {{capitalise @model.process.text}}</h3>
    <p>{{@model.process.gist}}</p>
  </Section::Text>

  <Section::ProductTiles @products={{@model.process.products}} />

  <Footer />
</Page>