<Page
  @id={{@model.process.slug}}
  @class="process"
>
  <Header />

  <Section::Hero
    @text={{capitalise @model.process.name}}
    @image="{{cdn}}/images/heroes/circuit-board-3.jpg"
  />

  <ProcessContent @process={{@model.process}} />

  <Section::Text>
    <Icon @src="{{cdn}}/images/icons/alcohol.svg" />
    <h3>{{@model.process.text}}</h3>
    <p>{{@model.process.gist}}</p>
  </Section::Text>

  <Section::ProductTiles @products={{@model.process.products}} />

  <Footer />
</Page>