<Page @id="products-subset">
  <Header />

  <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label=this.pageTitle)
    }} />

  <main
    aria-labelledby="h1"
    {{did-insert this.onInsert}}
  >
    <div class="liner">
      <BackNav
        @backRoute="home.products"
        @backLabel="All products"
      />

      <div class="columns">
        <aside>
          <div class="sticky">
            <fieldset id="search">
              <legend>Find a product</legend>
              <Search
                @placeholder={{this.searchPlaceHolder}}
                @onSelect={{this.openProductPage}}
                @searchModel='product'
                @searchLabel='name'
                @searchFilter='name'
                @minKeyStrokes='1'
              />
            </fieldset>

            <fieldset>
              <legend>Product we develop</legend>
              <ul class="links">
                {{#each this.familyRadios as |radio|}}
                  <li>
                    <a
                      href={{href-to 'home.products.subset' radio.slug}}
                      class={{if radio.isChecked 'active'}}
                      {{on 'click' (fn this.openSubsetPage radio.slug)}}
                    >
                      <span class="label">{{radio.label}}</span>
                      <Svg::ArrowRight />
                    </a>
                  </li>
                {{/each}}
              </ul>
            </fieldset>

            <fieldset>
              <legend>Processes we support</legend>
              <ul class="links">
                {{#each this.useRadios as |radio|}}
                  <li>
                    <a
                      href={{href-to 'home.products.subset' radio.slug}}
                      class={{if radio.isChecked 'active'}}
                      {{on 'click' (fn this.openSubsetPage radio.slug)}}
                    >
                      <span class="label">{{radio.label}}</span>
                      <Svg::ArrowRight />
                    </a>
                  </li>
                {{/each}}
              </ul>
            </fieldset>

            <fieldset>
              <legend>Filter</legend>
              {{#each this.statusCheckboxes as |checkbox|}}
                <div class="checkbox-group">
                  <Checkbox
                    @id={{checkbox.id}}
                    @checked={{checkbox.isChecked}}
                    @onClick={{fn this.toggleStatus checkbox.id}}
                  />
                  <label for="input-{{checkbox.id}}"><span>{{checkbox.label}}&nbsp;</span><small>{{checkbox.count}}</small></label>
                </div>
              {{/each}}
            </fieldset>

            {{!-- <fieldset id="group-by">
              <legend>Group by ...</legend>
              <div class="buttons">
                <button
                  type="button"
                  class={{if this.groupByStatus 'active' 'idle'}}
                  {{on 'click' (fn this.setGroup 'status')}}
                >Status</button>

                {{#unless this.isFamily}}
                  <button
                    type="button"
                    class={{if this.groupByFamily 'active' 'idle'}}
                    {{on 'click' (fn this.setGroup 'family')}}
                  >Family</button>
                {{/unless}}

                {{#unless this.isUse}}
                  <button
                    type="button"
                    class={{if this.groupByUse 'active' 'idle'}}
                    {{on 'click' (fn this.setGroup 'use')}}
                  >Process</button>
                {{/unless}}

                <button
                  type="button"
                  class={{if this.groupByQuality 'active' 'idle'}}
                  {{on 'click' (fn this.setGroup 'quality')}}
                >Quality</button>
              </div>
            </fieldset> --}}
          </div>
        </aside>

        <article>
          <h1 id="h1">{{this.pageTitle}}</h1>

          {{#each this.statuses as |status|}}
            <section
              id={{status.id}}
              class="status"
              labelledby="h2-{{status.id}}"
            >
              <div class="intro">
                <div class="title">
                  <h2 id="h2-{{status.id}}">{{status.label}}</h2>
                </div>
                {{#if status.blurb}}
                  <p>{{status.blurb}}</p>
                {{/if}}
              </div>

              <ol>
                {{#each status.products as |product|}}
                  <ProductRow @product={{product}} />
                {{/each}}
              </ol>
            </section>
          {{else}}
            <div class="no-data">
              <p>No products for chosen filters.</p>
            </div>
          {{/each}}
        </article>
      </div>
    </div>
  </main>

  <Footer />
</Page>