<Page @id="products-subset">
  <Header />

  <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label=this.pageTitle)
    }} />

  <main
    aria-labelledby="h1"
    {{did-insert this.setGroup}}
  >
    <div class="liner">
      <BackNav
        @backRoute="home.products"
        @backLabel="All products"
      />

      <div class="columns">
        <article
          id="products"
          {{did-insert this.didInsertProducts}}
        >
          <h1 id="h1">{{this.pageTitle}}</h1>

          {{#each this.groups as |group|}}
            <section labelledby="h2-{{group.id}}">
              <div class="intro">
                <div class="title">
                  {{#if group.icon}}
                    <div class="icon">
                      <Image @src={{group.icon}} />
                    </div>
                  {{/if}}
                  <h2 id="h2-{{group.id}}">{{group.title}}</h2>
                </div>
                {{#if group.description}}
                  <p>{{group.description}}</p>
                {{/if}}
              </div>

              <ol>
                {{#each group.products as |product|}}
                  <li data-name={{product.id}}>
                    <a href={{href-to 'home.product' product.id}}>
                      <div class="left">
                        {{#if product.image}}
                          <ResponsiveImage @image={{product.image}} />
                        {{else}}
                          <figure class="no-image">
                            <Image
                              @src="{{env 'cdnHost'}}/images/icons/unknown.svg"
                              @width="50"
                              @height="50"
                            />
                          </figure>
                        {{/if}}
                      </div>

                      <div class="center">
                        <h3>{{product.name}}</h3>
                        <h4>{{product.family.nameSingle}}</h4>
                        {{#if product.pitch}}
                          <p>{{markdown product.pitch}}</p>
                        {{/if}}
                      </div>

                      <div class="right">
                        <Svg::ArrowRight />
                      </div>
                    </a>
                  </li>
                {{/each}}
              </ol>
            </section>
          {{/each}}
        </article>

        <aside>
          <div class="sticky">
            <fieldset>
              <legend>Search by name</legend>
              <input
                type="text"
                placeholder="DP 560..."
                {{on 'keyup' this.filterByName}}
              >
            </fieldset>

            <fieldset>
              <legend>Group by</legend>
              <div class="buttons">
                {{#unless this.isFamily}}
                  <button
                    type="button"
                    class={{if (eq this.groupBy 'family') 'active' 'idle'}}
                    {{on 'click' (fn (mut this.groupBy) 'family')}}
                  >Family</button>
                {{/unless}}
                {{#unless this.isUse}}
                  <button
                    type="button"
                    class={{if (eq this.groupBy 'use') 'active' 'idle'}}
                    {{on 'click' (fn (mut this.groupBy) 'use')}}
                  >Process</button>
                {{/unless}}
                <button
                  type="button"
                  class={{if (eq this.groupBy 'quality') 'active' 'idle'}}
                  {{on 'click' (fn (mut this.groupBy) 'quality')}}
                >Quality</button>

                {{!--
                <button
                  type="button"
                  class={{if (eq this.groupBy 'status') 'active' 'idle'}}
                  {{on 'click' (fn (mut this.groupBy) 'status')}}
                >Status</button>
                --}}
              </div>
            </fieldset>

            {{#unless this.isFamily}}
              <fieldset>
                <legend>Families</legend>

                {{#each this.families as |family|}}
                  <div class="checkbox-group">
                    <Checkbox
                      @id={{family.id}}
                      @checked="true"
                      @onClick={{fn this.toggle family.id}}
                    />
                    <label for="input-{{family.id}}">{{family.namePlural}}</label>
                  </div>
                {{/each}}
              </fieldset>
            {{/unless}}

            {{#unless this.isUse}}
              <fieldset>
                <legend>Processes</legend>

                {{#each this.uses as |use|}}
                  <div class="checkbox-group">
                    <Checkbox
                      @id={{use.id}}
                      @checked="true"
                      @onClick={{fn this.toggle use.id}}
                    />
                    <label for="input-{{use.id}}">{{use.label}}</label>
                  </div>
                {{/each}}
              </fieldset>
            {{/unless}}

            <fieldset>
              <legend>Qualities</legend>

              {{#each this.qualities as |quality|}}
                <div class="checkbox-group">
                  <Checkbox
                    @id={{quality.id}}
                    @checked="true"
                    @onClick={{fn this.toggle quality.id}}
                  />
                  <label for="input-{{quality.id}}">{{quality.text}}</label>
                </div>
              {{/each}}
            </fieldset>
          </div>
        </aside>
      </div>
    </div>
  </main>

  <Footer />
</Page>