<Page @id="products-subset">
  <Header />

  <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label=this.pageTitle)
    }} />

  <main
    aria-labelledby="h1"
    {{did-insert this.onInsert}}
  >
    <div class="liner">
      <BackNav
        @backRoute="home.products"
        @backLabel="All products"
      />

      <div class="columns">
        <aside>
          <div class="sticky">
            <fieldset id="search">
              <legend>Search</legend>
              <Search
                @placeholder={{this.searchPlaceHolder}}
                @onSelect={{this.openProductPage}}
                @searchModel='product'
                @searchLabel='name'
                @searchFilter='name'
                @minKeyStrokes='1'
              />
            </fieldset>

            <fieldset id="group-by">
              <legend>Group by</legend>
              <div class="buttons">
                <button
                  type="button"
                  class={{if this.groupByStatus 'active' 'idle'}}
                  {{on 'click' (fn (mut this.groupBy) 'status')}}
                >Status</button>

                {{#unless this.isFamily}}
                  <button
                    type="button"
                    class={{if this.groupByFamily 'active' 'idle'}}
                    {{on 'click' (fn (mut this.groupBy) 'family')}}
                  >Family</button>
                {{/unless}}

                {{#unless this.isUse}}
                  <button
                    type="button"
                    class={{if this.groupByUse 'active' 'idle'}}
                    {{on 'click' (fn (mut this.groupBy) 'use')}}
                  >Process</button>
                {{/unless}}

                <button
                  type="button"
                  class={{if this.groupByQuality 'active' 'idle'}}
                  {{on 'click' (fn (mut this.groupBy) 'quality')}}
                >Quality</button>
              </div>
            </fieldset>

            {{#if this.groupByFamily}}
              <fieldset>
                <legend>Families</legend>

                {{#each this.families as |family|}}
                  <div class="checkbox-group">
                    <Checkbox
                      @id={{family.id}}
                      @checked="true"
                      @onClick={{fn this.toggle family.id}}
                    />
                    <label for="input-{{family.id}}">{{family.namePlural}}</label>
                  </div>
                {{/each}}
              </fieldset>
            {{/if}}

            {{#if this.groupByUse}}
              <fieldset>
                <legend>Processes</legend>

                {{#each this.uses as |use|}}
                  <div class="checkbox-group">
                    <Checkbox
                      @id={{use.id}}
                      @checked="true"
                      @onClick={{fn this.toggle use.id}}
                    />
                    <label for="input-{{use.id}}">{{use.label}}</label>
                  </div>
                {{/each}}
              </fieldset>
            {{/if}}

            {{#if this.groupByQuality}}
              <fieldset>
                <legend>Qualities</legend>

                {{#each this.qualities as |quality|}}
                  <div class="checkbox-group">
                    <Checkbox
                      @id={{quality.id}}
                      @checked="true"
                      @onClick={{fn this.toggle quality.id}}
                    />
                    <label for="input-{{quality.id}}">{{quality.text}}</label>
                  </div>
                {{/each}}
              </fieldset>
            {{/if}}

            {{#if this.groupByStatus}}
              <fieldset>
                <legend>Status</legend>

                {{#each this.statuses as |status|}}
                  <div class="checkbox-group">
                    <Checkbox
                      @id={{status.id}}
                      @checked="true"
                      @onClick={{fn this.toggle status.id}}
                    />
                    <label for="input-{{status.id}}">{{status.label}}</label>
                  </div>
                {{/each}}
              </fieldset>
            {{/if}}
          </div>
        </aside>

        <article {{did-insert this.didInsertProducts}}>
          <h1 id="h1">{{this.pageTitle}}</h1>

          {{!-- Note: For SEO we render all <a> and hide with CSS so they remain crawlable. --}}

          <div class="view by-family {{if this.groupByFamily 'show' 'hide'}}">
            {{#each this.familySubsets as |set|}}
              <section labelledby="h2-{{set.family.id}}">
                <div class="intro">
                  <div class="title">
                    <h2 id="h2-{{set.family.id}}">{{set.family.label}}</h2>
                  </div>
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>

          <div class="view by-use {{if this.groupByUse 'show' 'hide'}}">
            {{#each this.useSubsets as |set|}}
              <section labelledby="h2-{{set.use.id}}">
                <div class="intro">
                  <div class="title">
                    <div class="icon">
                      <Image @src={{set.use.iconURL}} />
                    </div>
                    <h2 id="h2-{{set.use.id}}">{{set.use.label}}</h2>
                  </div>
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>

          <div class="view by-quality {{if this.groupByQuality 'show' 'hide'}}">
            {{#each this.qualitySubsets as |set|}}
              <section labelledby="h2-{{set.quality.id}}">
                <div class="intro">
                  <div class="title">
                    <div class="icon">
                      <Image @src={{set.quality.iconURL}} />
                    </div>
                    <h2 id="h2-{{set.quality.id}}">{{set.quality.label}}</h2>
                  </div>
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>

          <div class="view by-status {{if this.groupByStatus 'show' 'hide'}}">
            {{#each this.statusSubsets as |set|}}
              <section labelledby="h2-{{set.id}}">
                <div class="intro">
                  <div class="title">
                    <h2 id="h2-{{set.id}}">{{set.label}}</h2>
                  </div>
                  {{#if set.description}}
                    <p>{{set.description}}</p>
                  {{/if}}
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>
        </article>
      </div>
    </div>
  </main>

  <Footer />
</Page>