<Page @id="products-subset">
  <Header />

  <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label=this.pageTitle)
    }} />

  <main
    aria-labelledby="h1"
    {{did-insert this.onInsert}}
  >
    <div class="liner">
      <BackNav
        @backRoute="home.products"
        @backLabel="All products"
      />

      <div class="columns">
        <aside>
          <div class="sticky">
            <fieldset id="search">
              <legend>Search</legend>
              <Search
                @placeholder={{this.searchPlaceHolder}}
                @onSelect={{this.openProductPage}}
                @searchModel='product'
                @searchLabel='name'
                @searchFilter='name'
                @minKeyStrokes='1'
              />
            </fieldset>

            <fieldset id="group-by">
              <legend>Group by ...</legend>
              <div class="buttons">
                <button
                  type="button"
                  class={{if this.groupByStatus 'active' 'idle'}}
                  {{on 'click' (fn (mut this.groupBy) 'status')}}
                >Status</button>

                {{#unless this.isFamily}}
                  <button
                    type="button"
                    class={{if this.groupByFamily 'active' 'idle'}}
                    {{on 'click' (fn (mut this.groupBy) 'family')}}
                  >Family</button>
                {{/unless}}

                {{#unless this.isUse}}
                  <button
                    type="button"
                    class={{if this.groupByUse 'active' 'idle'}}
                    {{on 'click' (fn (mut this.groupBy) 'use')}}
                  >Process</button>
                {{/unless}}

                <button
                  type="button"
                  class={{if this.groupByQuality 'active' 'idle'}}
                  {{on 'click' (fn (mut this.groupBy) 'quality')}}
                >Quality</button>
              </div>
            </fieldset>

            <fieldset>
              <legend>{{this.checkboxLabel}}</legend>
              {{#each this.checkboxes as |checkbox|}}
                <div class="checkbox-group">
                  <Checkbox
                    @id={{checkbox.id}}
                    @checked={{checkbox.checked}}
                    @onClick={{fn this.toggleCheckbox checkbox.id}}
                  />
                  <label for="input-{{checkbox.id}}">{{checkbox.label}}</label>
                </div>
              {{/each}}
            </fieldset>
          </div>
        </aside>

        <article>
          <h1 id="h1">{{this.pageTitle}}</h1>

          {{!-- Note: For SEO we render all <a> and hide with CSS so they remain crawlable. --}}

          <div class="view by-family {{if this.groupByFamily 'show' 'hide'}}">
            {{#each this.familySubsets as |set|}}
              <section labelledby="h2-{{set.family.id}}">
                <div class="intro">
                  <div class="title">
                    <h2 id="h2-{{set.family.id}}">{{set.family.label}}</h2>
                  </div>
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>

          <div class="view by-use {{if this.groupByUse 'show' 'hide'}}">
            {{#each this.useSubsets as |set|}}
              <section labelledby="h2-{{set.use.id}}">
                <div class="intro">
                  <div class="title">
                    <div class="icon">
                      <Image @src={{set.use.iconURL}} />
                    </div>
                    <h2 id="h2-{{set.use.id}}">{{set.use.label}}</h2>
                  </div>
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>

          <div class="view by-quality {{if this.groupByQuality 'show' 'hide'}}">
            {{#each this.qualitySubsets as |set|}}
              <section labelledby="h2-{{set.quality.id}}">
                <div class="intro">
                  <div class="title">
                    <div class="icon">
                      <Image @src={{set.quality.iconURL}} />
                    </div>
                    <h2 id="h2-{{set.quality.id}}">{{set.quality.label}}</h2>
                  </div>
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>

          <div class="view by-status {{if this.groupByStatus 'show' 'hide'}}">
            {{#each this.statusSubsets as |set|}}
              <section labelledby="h2-{{set.id}}">
                <div class="intro">
                  <div class="title">
                    <h2 id="h2-{{set.id}}">{{set.label}}</h2>
                  </div>
                  {{#if set.description}}
                    <p>{{set.description}}</p>
                  {{/if}}
                </div>

                <ol>
                  {{#each set.products as |product|}}
                    <ProductRow @product={{product}} />
                  {{/each}}
                </ol>
              </section>
            {{/each}}
          </div>
        </article>
      </div>
    </div>
  </main>

  <Footer />
</Page>