<Page @id="products-subset">
  <Header />

  <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label=this.pageTitle)
    }} />

  <main
    aria-labelledby="h1"
    {{did-insert this.onInsert}}
  >
    <div class="liner">
      <BackNav
        @backRoute="home.products"
        @backLabel="All products"
      />

      <div class="columns">
        <aside>
          <div class="sticky">
            <fieldset id="search">
              <legend>Search</legend>
              <Search
                @placeholder={{this.searchPlaceHolder}}
                @onSelect={{this.openProductPage}}
                @searchModel='product'
                @searchLabel='name'
                @searchFilter='name'
                @minKeyStrokes='1'
              />
            </fieldset>

            <fieldset id="group-by">
              <legend>Group by ...</legend>
              <div class="buttons">
                <button
                  type="button"
                  class={{if this.groupByStatus 'active' 'idle'}}
                  {{on 'click' (fn this.setGroup 'status')}}
                >Status</button>

                {{#unless this.isFamily}}
                  <button
                    type="button"
                    class={{if this.groupByFamily 'active' 'idle'}}
                    {{on 'click' (fn this.setGroup 'family')}}
                  >Family</button>
                {{/unless}}

                {{#unless this.isUse}}
                  <button
                    type="button"
                    class={{if this.groupByUse 'active' 'idle'}}
                    {{on 'click' (fn this.setGroup 'use')}}
                  >Process</button>
                {{/unless}}

                <button
                  type="button"
                  class={{if this.groupByQuality 'active' 'idle'}}
                  {{on 'click' (fn this.setGroup 'quality')}}
                >Quality</button>
              </div>
            </fieldset>

            <fieldset>
              <legend>{{this.checkboxLabel}}</legend>
              {{#each this.checkboxes as |checkbox|}}
                <div class="checkbox-group">
                  <Checkbox
                    @id={{checkbox.id}}
                    @checked={{checkbox.checked}}
                    @onClick={{fn this.toggleCheckbox checkbox.id}}
                  />
                  <label for="input-{{checkbox.id}}">{{checkbox.label}}</label>
                </div>
              {{/each}}
            </fieldset>
          </div>
        </aside>

        <article>
          <h1 id="h1">{{this.pageTitle}}</h1>

          {{#each this.subsets as |set|}}
            <section labelledby="h2-{{set.id}}">
              <div class="intro">
                <div class="title">
                  {{#if set.iconURL}}
                    <div class="icon">
                      <Image @src={{set.iconURL}} />
                    </div>
                  {{/if}}
                  <h2 id="h2-{{set.id}}">{{set.label}}</h2>
                </div>
                {{#if set.blurb}}
                  <p>{{set.blurb}}</p>
                {{/if}}
              </div>

              <ol>
                {{#each set.products as |product|}}
                  <ProductRow @product={{product}} />
                {{/each}}
              </ol>
            </section>
          {{else}}
            <div class="no-data">
              <p>No products for chosen filters.</p>
            </div>
          {{/each}}
        </article>
      </div>
    </div>
  </main>

  <Footer />
</Page>