<button
  class="button-base button-task {{@size}} {{@style}}"
  {{on 'click' this.perform}}
  type="button"
>
  {{#if has-block}}
    {{yield}}
  {{else}}
    {{#if @icon}}
      {{!-- <Icon @name="{{@icon}}" /> --}}
    {{/if}}
    {{#if @text}}
      <span>{{@text}}</span>
    {{/if}}
  {{/if}}
</button>