<Page @id='documents' @title='Documents' @backRoute='home'>
  <Section @id='categories'>
    <h3>What type of document do you need?</h3>
    <nav>
      {{#each this.categories as |category|}}
        <a href={{href-to 'home.documents.category' category.slug}}>
          <Icon @name={{category.icon}} />
          <p><strong>{{category.name}}</strong></p>
          <p>{{category.gist}}</p>
          <p><span>{{category.cta}}</span></p>
        </a>
      {{/each}}
    </nav>
  </Section>
</Page>