<div class='products-page'>
  <div class='liner'>
    <aside>
      <div class={{if this.stickyMenu 'sticky'}}>
        <fieldset>
          <legend>{{t 'Search product' 'products.11'}}</legend>
          <TextInput
            @value={{this.search}}
            @icon='search'
            @theme='classic'
            @onKeyUp={{this.onKeyUp}}
          />
        </fieldset>

        {{#unless this.search}}
          <fieldset>
            <legend>
              {{if
                this.selectedFamilyOption
                (t 'Product category' 'products.12')
                (t 'Product categories' 'products.13')
              }}
            </legend>
            {{#if this.familiesLoading}}
              <p>{{t 'Loading ...' 'loading.1'}}</p>
            {{else}}
              <Pills::Routed
                @options={{this.familyOptions}}
                @selected={{this.selectedFamilyOption}}
              />
            {{/if}}
          </fieldset>

          <fieldset>
            <legend>{{t 'Suitable for' 'product.9'}}</legend>
            {{#if this.usesLoading}}
              <p>{{t 'Loading ...' 'loading.1'}}</p>
            {{else}}
              <Pills::Routed
                @options={{this.useOptions}}
                @selected={{this.selectedUseOption}}
              />
            {{/if}}
          </fieldset>
        {{/unless}}
      </div>
    </aside>

    <article class={{this.layout}}>
      {{#if this.search}}
        <ProductList
          @title={{this.searchTitle}}
          @products={{@model.products}}
          @search={{this.search}}
          @groupBy='none'
        />
      {{else}}
        {{outlet}}
      {{/if}}
    </article>
  </div>
</div>