<div class='products-page'>
  <div class='liner'>
    <aside>
      <div class={{if this.stickyMenu 'sticky'}}>
        <fieldset>
          <legend>Search product</legend>
          <TextInput
            @value={{this.search}}
            @icon='search'
            @theme='classic'
            @onKeyUp={{this.onKeyUp}}
          />
        </fieldset>

        {{#unless this.search}}
          <fieldset>
            <legend>
              {{if
                this.selectedFamilyOption
                'Product category'
                'Product categories'
              }}
            </legend>
            {{#if this.familiesLoading}}
              <p>Loading ...</p>
            {{else}}
              <Pills::Routed
                @options={{this.familyOptions}}
                @selected={{this.selectedFamilyOption}}
              />
            {{/if}}
          </fieldset>

          <fieldset>
            <legend>Suitable for ...</legend>
            {{#if this.usesLoading}}
              <p>Loading ...</p>
            {{else}}
              <Pills::Routed
                @options={{this.useOptions}}
                @selected={{this.selectedUseOption}}
              />
            {{/if}}
          </fieldset>
        {{/unless}}
      </div>
    </aside>

    <article class={{this.layout}}>
      {{#if this.search}}
        <ProductList
          @title='Results for "{{this.search}}"'
          @products={{@model.products}}
          @search={{this.search}}
          @groupBy='none'
        />
      {{else}}
        {{outlet}}
      {{/if}}
    </article>
  </div>
</div>