<div class='product-group-page'>
  <div class='liner'>
    <aside>
      <div class={{if this.stickyMenu 'sticky'}}>
        <fieldset>
          <legend>Search by name</legend>
          <TextInput
            @value={{this.query}}
            @icon='search'
            @theme='classic'
            @onKeyUp={{this.onKeyUp}}
          />
        </fieldset>

        <fieldset>
          <legend>Product types</legend>
          <Pills::Routed
            @options={{this.familyOptions}}
            @selected={{this.selectedFamilyOption}}
          />
        </fieldset>

        <fieldset>
          <legend>Suitable for ...</legend>
          <Pills::Routed
            @options={{this.useOptions}}
            @selected={{this.selectedUseOption}}
          />
        </fieldset>
      </div>
    </aside>

    <article class={{this.layout}}>
      {{outlet}}
    </article>
  </div>
</div>