<Page @id='homepage' @title='Interflux'>
  <Section @id='hero'>
    <div class='text'>
      <h1>
        <small>Yes, you can solder electronics ...</small>
        <strong>{{markdown this.heroPhrase (hash noParagraphs=true)}}</strong>
        <small>Ask Interflux.</small>
      </h1>
    </div>

    <div class='cta'>
      <Button
        @onClick={{this.showNextSection}}
        @icon='chevron-down'
        @theme='square outlined'
      />
    </div>

    <div class='image'>
      {{#if this.media.isMobile}}
        <ResponsiveImage
          @path='images/public/homepage-hero-mobile'
          @variations='@640x1200.jpg,@640x1200.webp'
        />
      {{/if}}
      {{#if this.media.isTablet}}
        <ResponsiveImage
          @path='images/public/homepage-hero-tablet'
          @variations='@1200x1200.jpg,@1200x1200.webp'
        />
      {{/if}}
      {{#if this.media.isDesktopWidescreen}}
        <ResponsiveImage
          @path='images/public/homepage-hero-desktop'
          @variations='@2400x1200.jpg,@2400x1200.webp'
        />
      {{/if}}
    </div>
  </Section>

  <Section @id='what-we-do'>
    <h2>In a nutshell...</h2>
    <blockquote>
      <span>We research &amp; develop the </span>
      <strong>chemistry</strong>
      <span> needed for soldering </span>
      <strong>electronics</strong>.
    </blockquote>
  </Section>

  <Section @id='popular'>
    <h2>Our best-selling products</h2>
    <ul class='products {{this.popularLayout}}'>
      {{#each this.popularProducts as |product|}}
        {{#if product.id}}
          <li>
            <a href={{href-to 'home.product' product.id}}>
              <div class='image'>
                <ResponsiveImage
                  @path={{product.avatarPath}}
                  @variations={{product.avatarVariations}}
                  @alt={{@roduct.avatarAlt}}
                />
              </div>

              <div class='text'>
                <h3>{{span-each-word product.name}}</h3>
                <h4>{{span-each-word product.family.nameSingle}}</h4>
              </div>
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </Section>

  <Section @id='new'>
    <h2>Our newest inventions</h2>
    <ul class='products {{this.newLayout}}'>
      {{#each this.newProducts as |product|}}
        {{#if product.id}}
          <li>
            <a href={{href-to 'home.product' product.id}}>
              <div class='image'>
                <ResponsiveImage
                  @path={{product.avatarPath}}
                  @variations={{product.avatarVariations}}
                  @alt={{@roduct.avatarAlt}}
                />
              </div>

              <div class='text'>
                <h3>{{span-each-word product.name}}</h3>
                <h4>{{span-each-word product.family.nameSingle}}</h4>
              </div>
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <div class='cta'>
      <Button
        @route='home.products'
        @text='See all products'
        @theme='link orange'
      />
    </div>
  </Section>

  <Section @id='why'>
    <h2>Why Interflux?</h2>
    <blockquote>
      We've been pioneering soldering chemistry since 1980. That's
      <strong>{{this.yearCount}}+ years</strong>
      of accumulated experience in soldering electronics.
    </blockquote>
    <div class='cta'>
      <Button @route='home.company' @text='Learn more' @theme='link white' />
    </div>
  </Section>

  <Section @id='trusted-by'>
    <h2>Trusted by</h2>
    <div class='logos'>
      <Image
        @src='{{env 'cdnHost'}}/images/public/logo-kurtz-ersa@300x168.png'
        @width='300'
        @height='168'
        @alt='logo Kurtz Ersa'
      />
      {{!-- <Image
        @src='{{env 'cdnHost'}}/images/public/logo-oritech.png'
        @width='300'
        @height='168'
        @alt='logo Oritech Australia'
        @class='oritech'
      /> --}}
    </div>
  </Section>
</Page>