<Page @id="home">
  <Header />

  <Section
    @id="links"
    class="legacy"
  >
    <div class="left {{this.imageLeft}}">
      <h2>Products</h2>
      <p>Find products by type</p>
      <nav>
        <Button::Route
          @route="home.products.subset"
          @model="soldering-fluxes"
          @text="Soldering Fluxes"
          {{on 'mouseover' (fn this.showImage 1)}}
        />
        <Button::Route
          @route="home.products.subset"
          @model="solder-pastes"
          @text="Soldering Pastes"
          {{on 'mouseover' (fn this.showImage 2)}}
        />
        <Button::Route
          @route="home.products.subset"
          @model="solder-wires"
          @text="Soldering Wires"
          {{on 'mouseover' (fn this.showImage 3)}}
        />
        <Button::Route
          @route="home.products.subset"
          @model="fluxing-systems"
          @text="Fluxing Systems"
          {{on 'mouseover' (fn this.showImage 4)}}
        />
        <Button::Route
          @route="home.products.subset"
          @model="auxiliaries"
          @text="Auxiliaries"
          {{on 'mouseover' (fn this.showImage 5)}}
        />
      </nav>
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-1.jpg"
        class="image-1"
        alt="electronics"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-2"
        alt="electronics"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-3"
        alt="electronics"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-4"
        alt="electronics"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-5"
        alt="electronics"
      >
    </div>

    <div class="right {{this.imageRight}}">
      <h2>Processes</h2>
      <p>Find products by type</p>
      <nav>
        <Button::Route
          @route="processes.process"
          @model="wave-soldering"
          @text="Wave Soldering"
          {{on 'mouseover' (fn this.showImage 6)}}
        />
        <Button::Route
          @route="processes.process"
          @model="selective-soldering"
          @text="Selective Soldering"
          {{on 'mouseover' (fn this.showImage 7)}}
        />
        <Button::Route
          @route="processes.process"
          @model="reflow-soldering"
          @text="Reflow Soldering"
          {{on 'mouseover' (fn this.showImage 8)}}
        />
        <Button::Route
          @route="processes.process"
          @model="rework-and-repair"
          @text="Rework & Repair"
          {{on 'mouseover' (fn this.showImage 9)}}
        />
        <Button::Route
          @route="processes.process"
          @model="pre-tinning"
          @text="Pre-tinning"
          {{on 'mouseover' (fn this.showImage 10)}}
        />
      </nav>
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-1.jpg"
        class="image-6"
        alt="soldering process"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-7"
        alt="soldering process"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-8"
        alt="soldering process"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-9"
        alt="soldering process"
      >
      <img
        src="{{env 'cdnHost'}}/images/legacy/homepage-images-2.jpg"
        class="image-10"
        alt="soldering process"
      >
    </div>

    <div class="bottom">
      <Button::Route @route="company">
        <p>Company</p>
        <p class="small">Learn about Interflux</p>
      </Button::Route>

      <Button::Route @route="documents">
        <p>Documents</p>
        <p class="small">Find technical data</p>
      </Button::Route>

      <Button::Route @route="contact">
        <p>Contact</p>
        <p class="small">Get in touch</p>
      </Button::Route>
    </div>
  </Section>

  <Section::Languages />
</Page>