<Section @id='languages'>
  {{#each this.languages as |language|}}
    <Button
      @route='home'
      @model={{language.id}}
      @onClick={{fn this.onLanguageClick language.id}}
    >
      <img
        src='{{env 'cdnHost'}}/images/flags/{{language.id}}.png'
        alt='flag {{language.nameNative}}'
      />
      <p>{{language.nameNative}}</p>
    </Button>
  {{/each}}
</Section>