<div class='product-group-page'>
  <div class='liner'>
    <aside>
      <div class='sticky'>
        <fieldset>
          <legend>Find product by ...</legend>
          <Pills
            @options={{this.groupOptions}}
            @label='label'
            @onSelect={{fn (mut this.selectedGroup)}}
            @selectedOption={{this.selectedGroup}}
          />
        </fieldset>

        {{! <fieldset>
          <legend>Find products by</legend>
          <Button::Group @theme='stretch-evenly'>
            <Button
              @theme='medium secondary grey-border blue-focus'
              @text='name'
              @route='products.search'
              @model='123'
            />

            <Button
              @theme='medium secondary grey-border blue-focus'
              @text='type'
              @route='products.family'
              @model='xyz'
            />

            <Button
              @route='products.process'
              @model='abc'
              @theme='medium secondary grey-border blue-focus'
              @text='process'
            />
          </Button::Group>
        </fieldset> }}

        {{#if this.searchByName}}
          <fieldset>
            <legend>Search in list</legend>
            <input type='text' />
          </fieldset>
        {{/if}}

        {{#if this.searchByType}}
          <fieldset>
            <legend>Product types</legend>
            <p>Soldering fluxes</p>
            <p>Solder pastes</p>
            <p>Solder wires</p>
            <p>Solder alloys fluxes</p>
            <p>Fluxing systems</p>
            <p>Auxiliaries</p>
          </fieldset>
        {{/if}}

        {{#if (eq this.selectedGroup.value 'process')}}
          <fieldset>
            <legend>Select a process</legend>
            <Pills
              @options={{this.useOptions}}
              @label='label'
              @onSelect={{fn (mut this.selectedUse)}}
              @selectedOption={{this.selectedUse}}
            />
          </fieldset>

          {{!-- <fieldset class='options'>
            <legend>Processes</legend>
            {{#each this.uses as |use|}}
              <Button
                @theme='option'
                @text={{use.label}}
                @route='products.process'
                @model={{use.id}}
              >
                {{#if (eq use.id this.use.id)}}
                  <Svg::OptionSelected />
                {{else}}
                  <Svg::OptionUnselected />
                {{/if}}
                <p>{{use.rank2}}</p>
              </Button>
            {{/each}}
          </fieldset> --}}
        {{/if}}

        {{#if this.selectedGroup}}
          <fieldset>
            <legend>Layout</legend>
            <Button::Group @theme='stretch-evenly'>
              <Button
                @theme='medium secondary grey-border blue-focus {{if
                  (eq this.layout "grid")
                  "active"
                }}'
                @icon='grid'
                onClick={{fn (mut this.layout 'grid')}}
              />

              <Button
                @theme='medium secondary grey-border blue-focus {{if
                  (eq this.layout "list")
                  "active"
                }}'
                @icon='list'
                onClick={{fn (mut this.layout 'list')}}
              />
            </Button::Group>
          </fieldset>
        {{/if}}
      </div>
    </aside>

    <article>
      <h1>{{this.pageTitle}}</h1>
      {{#if @loading}}
        <Shimmer::ProductRows::Desktop />
      {{else}}
        {{#each this.groups as |group|}}
          <section>
            <h2>{{group.title}}</h2>
            <ProductGroupPage::Featured @products={{group.featuredProducts}} />
            <ProductGroupPage::Hidden @products={{group.hiddenProducts}} />
          </section>
        {{/each}}
      {{/if}}
    </article>
  </div>
</div>