<Section @class="product-tiles {{if this.showAll 'show-all' 'show-featured'}}">
  {{#each this.featuredProducts as |product|}}
    <LinkTo
      @route="products.family.product"
      @model={{product.slug}}
      class="product-tile {{if product.featured 'featured' 'hidden'}}"
    >
      <h2>{{product.name}}</h2>
      <h3>{{if product.label product.label product.family.nameSingle}}</h3>
      <ResponsiveImage @image={{get product 'avatar'}} />
      <button>
        <span>Explore</span>
        <Icon @name="arrow-right" />
      </button>
    </LinkTo>
  {{/each}}

  {{#each this.hiddenProducts as |product|}}
    <LinkTo
      @route="products.family.product"
      @model={{product.slug}}
      class="product-tile {{if product.featured 'featured' 'hidden'}}"
    >
      <h2>{{product.name}}</h2>
      <h3>{{if product.label product.label product.family.nameSingle}}</h3>
      {{#if showAll}}
        <ResponsiveImage @image={{get product 'avatar'}} />
      {{/if}}
      <button>
        <span>Explore</span>
        <Icon @name="arrow-right" />
      </button>
    </LinkTo>
  {{/each}}

  {{#if this.hiddenProducts}}
    <div class="toggle">
      <Button::Action
        @action={{this.toggle}}
        @text="show all"
        @size="big"
        @style="grey-border"
      />
    </div>
  {{/if}}
</Section>