<Section @class="product-tiles {{if this.showAll 'show-all' 'show-featured'}}">
  {{#each this.featuredProducts as |product|}}
    <LinkTo
      @route="products.family.product"
      @model={{product.slug}}
      class="product-tile {{if product.featured 'featured' 'hidden'}}"
    >
      <h2>{{product.name}}</h2>
      <h3>{{if product.label product.label product.family.nameSingle}}</h3>
      <ResponsiveImage @image={{get product 'avatar'}} />
      {{#if (or product.new product.popular product.featured)}}
        <button>
          {{#if product.new}}
            <span>NEW</span>
          {{else if product.popular}}
            <span>popular</span>
          {{else if product.featured}}
            <span>learn more</span>
          {{/if}}
          <!-- <span>Explore</span> -->
          <Svg::ArrowRight />
        </button>
      {{/if}}
    </LinkTo>
  {{/each}}

  {{#each this.hiddenProducts as |product|}}
    <LinkTo
      @route="products.family.product"
      @model={{product.slug}}
      class="product-tile {{if product.featured 'featured' 'hidden'}}"
    >
      <h2>{{product.name}}</h2>
      <h3>{{if product.label product.label product.family.nameSingle}}</h3>
      {{#if showAll}}
        <ResponsiveImage @image={{get product 'avatar'}} />
      {{/if}}
      {{#if (or product.new product.popular product.featured)}}
        <button>
          {{#if product.new}}
            <span>NEW</span>
          {{else if product.popular}}
            <span>popular</span>
          {{else if product.featured}}
            <span>learn more</span>
          {{/if}}
          <!-- <span>Explore</span> -->
          <Svg::ArrowRight />
        </button>
      {{/if}}
    </LinkTo>
  {{/each}}

  {{#if this.hiddenProducts}}
    <div class="toggle">
      <Button::Action
        @action={{this.toggle}}
        @text={{if this.showAll "Show less" (concat "Show all (" this.hiddenCount ")")}}
        @size="medium"
        @style="grey"
      />
    </div>
  {{/if}}
</Section>