<div class='input {{this.classes}}'>
  <div class='wrapper'>
    <input
      id='input-{{@id}}'
      value={{@value}}
      type={{this.type}}
      placeholder={{@placeholder}}
      readonly={{@disabled}}
      autocapitalize='off'
      autocomplete='off'
      autocorrect='off'
      spellcheck='false'
      {{on 'focus' this.onFocus}}
      {{on 'blur' this.onBlur}}
      {{on 'keydown' this.onKeyDown}}
      {{on 'keyup' this.onKeyUp}}
      {{on 'mouseover' this.onMouseOver}}
      {{on 'mouseout' this.onMouseOut}}
      {{on 'change' this.onChange}}
      {{did-insert this.onInsert}}
    />
    {{yield}}
  </div>
</div>