<figure class='responsive-image {{this.orientation}} {{this.status}}'>
  <picture {{did-insert this.register}}>
    {{this.html}}

    {{#if this.showShimmer}}
      <div class='overlay'>
        <Shimmer::Image />
      </div>
    {{/if}}
  </picture>
  {{#if @caption}}
    <figcaption>
      <p class='caption'>{{@caption}}</p>
      <p class='copyright'>&copy; Interflux Electronics</p>
    </figcaption>
  {{/if}}
</figure>