<figure class='responsive-image {{this.orientation}} {{this.status}}'>
  <picture>
    <img
      src={{this.src}}
      width={{this.width}}
      height={{this.height}}
      alt={{@alt}}
      {{on 'load' this.onLoad}}
      {{on 'error' this.onError}}
      {{did-insert this.onInsert}}
    />

    {{#if this.showShimmer}}
      <div class='overlay'>
        <Shimmer::Image />
      </div>
    {{/if}}
  </picture>
  {{#if @caption}}
    <figcaption>
      <p class='caption'>
        {{@caption}}
        –
        <a href={{this.bestResolution}} target='_blank'>
          {{t 'download full sizes' 'image.1'}}
        </a>
      </p>
      <p class='copyright'>&copy; Interflux Electronics</p>
    </figcaption>
  {{/if}}
</figure>