<div class="input{{if @class (concat ' ' @class)}}">
  <input
    value={{@value}}
    type={{@type}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    autocapitalize='off'
    autocomplete='off'
    autocorrect='off'
    spellcheck=false
    {{on 'focus' onFocus}}
    {{on 'blur' onBlur}}
    {{on 'keyup' onKeyUp}}
    autofocus='true'
  >
  {{#if @icon}}
    <div class="icon">
      <!-- <Icon @name={{@icon}} /> -->
    </div>
  {{/if}}
</div>