<Section @id='iso'>
  <div class='text'>
    <h2>{{t
        (concat
          this.count '+ years of high quality, high reliability chemistry'
        )
      }}</h2>
    {{markdown
      (t
        (concat
          'Established in 1980, Interflux® Electronics N.V. provides more than '
          this.count
          ' years of experience in high quality, high reliability soldering chemistry to the electronics assembly industry. Our focal points are No-residue™ Technology fluxes, absolutely halide-free chemistry, VOC-free fluxes, rosin- and resin-free formulations and much more. Interflux® Electronics N.V. is **ISO 9001 certified**.'
        )
      )
    }}
  </div>
  <img
    class='label'
    src='{{env "cdnHost"}}/images/legacy/iso-label.jpg'
    alt='ISO 9001'
  />
  <img
    class='daniel'
    src='{{env "cdnHost"}}/images/legacy/daniel-werkhoven.jpg'
    alt='Daniel Werkhoven'
  />
</Section>

<Section @id='pioneer'>
  <img
    src='{{env "cdnHost"}}/images/legacy/img-pioneer.jpg'
    alt='pioneer boy'
  />
  <div class='text'>
    <h2>{{t 'A true pioneer'}}</h2>
    {{markdown
      (t
        'Interflux® Electronics N.V. has always been in the forefront when it comes to innovative development of soldering chemistry. **IF2005M**, the first of its kind body-free, **No-residue™** flux was conceived, produced and made successful by the Interflux® Group. Furthermore, Interflux was one of the first to offer a high performance, high quality completely VOC-free line of soldering fluxes: the **PacIFic series**. With **IF 14**, Interflux introduced a solder wire chemistry with brushable residues, a property that is still unique today.'
      )
    }}
  </div>
</Section>

<Section @id='durable'>
  <div class='text'>
    <h2>{{t 'Responsible & durable'}}</h2>
    {{markdown
      (t
        'By installing photovoltaic panels and solar water heating in Ghent, Interflux® Electronics N.V. has committed itself to become **a low carbon emission facility**. Today the annual CO2-exhaust has been reduced with more than 50%. Interflux® Electronics N.V. has a **biological waste water treatment system** which grants our facility the "zero discharge" label from the Flemish Government for sewage water.'
      )
    }}
  </div>
  <img
    src='{{env "cdnHost"}}/images/legacy/img-durable.jpg'
    alt='hands holding a tree'
  />
</Section>

<Section @id='support'>
  <img
    src='{{env "cdnHost"}}/images/legacy/img-support.jpg'
    alt='electronics circuit'
  />
  <div class='text'>
    <h2>{{t 'Support worldwide'}}</h2>
    {{markdown
      (t
        'With 14 international daughter companies and 3 strategic production plants under the Interflux® name and a global network of agents and distributors, Interflux® Electronics N.V. provides a vast support network. High quality, technical, logistical, sales and on-site **customer support** for Interflux® products is widely available.'
      )
    }}
  </div>
</Section>

<Section @id='presentation'>
  <p>{{t 'Keen to learn more?'}}</p>
  <Button
    @text={{t 'Open slide deck'}}
    @theme='primary large green'
    @url='{{cdn}}/documents/presentations/Interflux-company-2021-EN.pdf'
  />
</Section>