<Section @id='categories'>
  <h3>{{t 'What type of document do you need?' 'docs.1'}}</h3>
  <nav>
    {{#each this.categories as |category|}}
      <a href={{href-to 'documents.category' category.slug}}>
        <Icon @name={{category.icon}} />
        <p>
          <strong>
            {{t category.name 'docs.2' category.id}}
          </strong>
        </p>
        <p>{{t category.gist 'docs.3' category.id}}</p>
        <p><span>{{t category.cta 'docs.4' category.id}}</span></p>
      </a>
    {{/each}}
  </nav>
</Section>

{{outlet}}