{{#let @model.product as |product|}}
  <div class='liner'>
    {{#let product.mainFamily as |family|}}
      <BackNav
        @backRoute='products.subset'
        @backModel={{family.id}}
        @backLabel={{t
          (concat 'All ' family.namePlural)
          (concat 'product.6.' family.id)
        }}
      />
    {{/let}}

    <div class='columns'>
      <article>
        <section id='hero'>
          <div id='title'>
            <h1 id='h1'>{{product.name}}</h1>

            <div class='tags'>
              {{#if product.familyLabel}}
                <h2 class='blue'>
                  {{t product.familyLabel (concat 'product.1.' product.id)}}
                </h2>
              {{/if}}
              {{#if product.isNew}}
                <h2 class='orange'>{{t 'new' 'product.2'}}</h2>
              {{/if}}
              {{#if product.isPopular}}
                <h2 class='orange'>{{t 'popular' 'product.3'}}</h2>
              {{/if}}
              {{#if product.isOutdated}}
                <h2 class='grey'>
                  {{if
                    product.superiorProduct
                    (concat
                      (t 'replaced by' 'product.4')
                      ' '
                      product.superiorProduct.name
                    )
                    'outdated'
                  }}
                </h2>
              {{/if}}
              {{#if product.isDiscontinued}}
                <h2 class='red'>
                  {{t 'out of production' 'product.5'}}
                  {{if
                    product.superiorProduct
                    (concat
                      '- '
                      (t 'replaced by' 'product.4')
                      ' '
                      product.superiorProduct.name
                    )
                  }}
                </h2>
              {{/if}}
            </div>

            {{#if product.superiorProduct}}
              <div id='replaced-by'>
                <p>{{product.name}}
                  been replaced by
                  <a
                    href={{href-to 'product' product.superiorProduct.id}}
                  >{{product.superiorProduct.name}}</a>.</p>
                <p>Why? &mdash; Because Interflux never stops innovating. We've
                  found even beter soldering chemistry for you. Do consider
                  upgrading! ;)</p>
                {{#if product.pitch}}
                  <p>For those still interested:</p>
                  <div id='pitch'>
                    {{markdown product.pitch}}
                  </div>
                {{/if}}
              </div>
            {{else}}
              {{#if product.pitch}}
                <div id='pitch'>
                  {{markdown
                    (t product.pitch (concat 'product.2.' product.id))
                  }}
                </div>
              {{/if}}
            {{/if}}
          </div>

          {{#if this.heroImage}}
            <div id='avatar'>
              <ResponsiveImage
                @path={{this.heroImage.path}}
                @variations={{this.heroImage.variations}}
                @caption={{this.heroImage.caption}}
                @alt={{this.heroImage.alt}}
              />
            </div>
          {{/if}}

          {{#if (gt this.images.length 1)}}
            <div id='images'>
              {{#each this.images as |image|}}
                <button
                  type='button'
                  class={{if (eq image this.heroImage) 'hero'}}
                  {{on 'click' (fn this.setHero image)}}
                >
                  <ResponsiveImage
                    @path={{image.path}}
                    @variations={{image.variations}}
                    @alt={{image.alt}}
                  />
                </button>
              {{/each}}
            </div>
          {{/if}}
        </section>

        {{#if product.summary}}
          <section id='summary' class='markdown'>
            <div>
              <h3>{{t 'Summary' 'product.7'}}</h3>
              <div class='two-columns'>
                {{markdown product.summary (concat 'product.8.' product.id)}}
              </div>
            </div>
          </section>
        {{/if}}

        {{#if product.hasUses}}
          <section id='uses' aria-labelledby='h3-uses'>
            {{#if product.uses}}
              <div>
                <h3 id='h3-uses'>{{t 'Suitable for' 'product.9'}}</h3>
                <Accordion @sections={{this.useAccordionSections}} />
              </div>
            {{/if}}
          </section>
        {{/if}}

        {{#if product.hasQualities}}
          <section id='qualities' aria-labelledby='h3-qualities'>
            {{#if product.qualities}}
              <div>
                <h3 id='h3-qualities'>{{t 'Key advantages' 'product.10'}}</h3>
                <Accordion @sections={{this.qualityAccordionSections}} />
              </div>
            {{/if}}
          </section>
        {{/if}}

        {{#if product.properties}}
          <section id='properties' aria-labelledby='h3-properties'>
            <div>
              <h3 id='h3-properties'>
                {{t 'Physical & chemical properties' 'product.11'}}
              </h3>

              {{to-definition-list (t product.properties 'product.29')}}
            </div>
          </section>
        {{/if}}

        {{#if this.showCompliance}}
          <section id='compliance' aria-labelledby='h3-compliance'>
            <div>
              <h3 id='h3-compliance'>
                {{t 'Quality compliance' 'product.12'}}
              </h3>
              <div class='single-column'>

                {{#if product.compliesWithIPC}}
                  <h4>IPC</h4>
                  {{#if product.compliesWithIPCJSTD004A}}
                    <p>
                      {{product.name}}&nbsp;{{markdown
                        (t
                          'complies with the [IPC J-STD-004A](https://www.ipc.org/) standars making high quality electronic interconnections with soldering fluxes.'
                          'product.13'
                        )
                        (hash noParagraphs=true)
                      }}
                    </p>
                  {{/if}}

                  {{#if product.compliesWithIPCJSTD004B}}
                    <p>
                      {{product.name}}&nbsp;{{markdown
                        (t
                          'complies with the [IPC J-STD-004B](https://www.ipc.org/) standars making high quality electronic interconnections with soldering fluxes.'
                          'product.14'
                        )
                        (hash noParagraphs=true)
                      }}
                    </p>
                  {{/if}}

                  {{#if product.compliesWithIPCJSTD005}}
                    <p>
                      {{product.name}}&nbsp;{{markdown
                        (t
                          'complies with the [IPC J-STD-005](https://www.ipc.org/) standars making high quality electronic interconnections with soldering fluxes.'
                          'product.15'
                        )
                        (hash noParagraphs=true)
                      }}
                    </p>
                  {{/if}}
                {{/if}}

                {{#if product.compliesWithIEC}}
                  <h4>IEC</h4>
                  <p>
                    {{product.name}}&nbsp;{{markdown
                      (t
                        'complies with the European Standard [EN 61190-1-1(2002)](https://www.standards.govt.nz/shop/iec-61190-1-12002/) which outlines the requirements for soldering fluxes for high-quality interconnections in electronics assembly.'
                        'product.16'
                      )
                      (hash noParagraphs=true)
                    }}
                  </p>
                {{/if}}

                {{#if product.compliesWithROHS}}
                  <h4>RoHS</h4>
                  <p>
                    {{product.name}}&nbsp;{{markdown
                      (t
                        "complies with the European Union's [RoHS](https://en.wikipedia.org/wiki/Restriction_of_Hazardous_Substances_Directive) directive for restricting the use of certain hazardous substances in electrical and electronic equipment."
                        'product.30'
                      )
                      (hash noParagraphs=true)
                    }}
                  </p>
                {{/if}}

                {{#if product.compliesWithISO}}
                  <h4>ISO 9001</h4>
                  <p>
                    {{product.name}}&nbsp;{{markdown
                      (t
                        'is produced at Interflux Electronics in Belgium, which has been certified year after year with the [ISO 9001](https://www.iso.org/) standard for reliable quality management systems.'
                        'product.17'
                      )
                      (hash noParagraphs=true)
                    }}
                  </p>
                {{/if}}

                {{#if product.testResults}}
                  <h4>{{t 'Test results' 'product.18'}}</h4>
                  <table class='results'>
                    <thead>
                      <tr>
                        <th>{{t 'Property' 'product.19'}}</th>
                        <th>{{t 'Result' 'product.20'}}</th>
                        <th>{{t 'Method' 'product.21'}}</th>
                      </tr>
                    </thead>

                    <tbody>
                      {{#each product.testResultsArray as |row|}}
                        <tr>
                          {{#each row as |cell|}}
                            <td>{{markdown cell}}</td>
                          {{/each}}
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                {{/if}}
              </div>
            </div>
          </section>
        {{/if}}

        {{#if product.instructions}}
          <section id='instructions' aria-labelledby='h3-instructions'>
            <div>
              <h3 id='h3-instructions'>{{t 'How to use' 'product.22'}}
                {{product.name}}</h3>
              <div class='single-column'>
                {{markdown
                  (t product.instructions (concat 'product.23.' product.id))
                }}
              </div>
            </div>
          </section>
        {{/if}}

        <section aria-labelledby='h3-documents'>
          {{#if product.documents}}
            <div id='documents'>
              <h3>{{t 'Documents' 'product.24'}}</h3>
              <Accordion @sections={{this.documentAccordionSections}} />
            </div>
          {{/if}}
        </section>
      </article>

      <aside>
        <div class='sticky'>
          <div class='box'>
            {{!--
              <Button
                @text='Add to order'
                @icon='truck'
                @theme='primary large green icon-floats-left'
                @onClick={{this.openOrderModal}}
              />

              <Button
                @text='Favourite'
                @icon='star'
                @theme='secondary large orange icon-floats-left'
                @onClick={{this.addToFavourites}}
              />

              <Button
                @text='Share'
                @icon='share'
                @theme='secondary large blue icon-floats-left'
                @onClick={{this.openShareModal}}
              />
              --}}

            <h4>{{t 'Need help?' 'product.25'}}</h4>
            <p>
              {{t
                'Ask someone with decades of fields experience in soldering electronics.'
                'product.26'
              }}
            </p>

            <Button
              @text={{t 'Ask Interflux' 'product.27'}}
              @icon='people'
              @theme='primary large orange icon-floats-left'
              @url='mailto:ask@interflux.com'
            />
          </div>
        </div>
      </aside>
    </div>
  </div>
{{/let}}