<nav id='back-nav'>
  {{#if @backModel}}
    <LinkTo @route={{@backRoute}} @model={{@backModel}}>
      <Svg::ArrowLeft />
      <span>{{@backLabel}}</span>
    </LinkTo>
  {{else}}
    <LinkTo @route={{@backRoute}}>
      <Svg::ArrowLeft />
      <span>{{@backLabel}}</span>
    </LinkTo>
  {{/if}}
</nav>