{{#with @model.product as |product|}}
  <Page @id="product">
    <Header />

    <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label=product.family.label route='home.products.subset' model=product.family.id)
      (hash label=product.name)
    }} />

    <main
      aria-labelledby="h1"
      aria-describedby="description"
    >
      <div class="liner">
        <BackNav
          @backRoute="home.products.subset"
          @backModel={{product.family.id}}
          @backLabel="All {{product.family.namePlural}}"
        />

        <div class="columns">
          <article>
            <section>
              <div id="title">
                <h1 id="h1">{{product.name}}</h1>
                <h2>{{product.family.nameSingle}}</h2>
                {{#if product.pitch}}
                  <p id="pitch">{{markdown product.pitch}}</p>
                {{/if}}
              </div>

              {{#if this.heroImage}}
                <div id="hero">
                  <ResponsiveImage @image={{this.heroImage}} />
                </div>
              {{/if}}

              {{#if (gt this.images.length 1)}}
                <div id="images">
                  {{#each this.images as |image|}}
                    <button
                      type="button"
                      class={{if (eq image this.heroImage) 'active'}}
                      {{on 'click' (fn this.setHero image)}}
                    >
                      <ResponsiveImage @image={{image}} />
                    </button>
                  {{/each}}
                </div>
              {{/if}}
            </section>

            <section
              id="properties"
              class="markdown"
            >
              <div>
                <h3>Summary</h3>
                <blockquote>
                  <p>
                    {{{span-each-word "OSPI 3311M is a No-Clean, halide free soldering flux for OSP"}}}
                  </p>
                </blockquote>
                <div class="two-columns">
                  <p>Interflux® OSPI 3311M is a no-clean flux
                    that especially has been developed for
                    high volume soldering of OSP-boards that
                    have passed one or more reflow processes.</p>
                  <p>OSPI 3311M is an optimised version of
                    OSPI 3311 for residue formation and
                    odour.</p>
                  <p>Most OSP-finishings will degrade quickly
                    after reflow, making (through hole)
                    wetting in wave or selective soldering a
                    challenge, especially with lead-free alloys.</p>
                  <p>The elements of OSPI 3311M have been
                    carefully chosen to promote (through
                    hole) wetting on these degraded OSPs,
                    especially with high conveyor speeds and
                    low preheat temperatures.</p>
                  <p>Moreover, the flux is absolutely halogen
                    free and has been designed to be safe
                    and reliable.</p>
                  <p>OSPI 3311M meets IPC requirements.</p>
                </div>

              </div>
            </section>

            <section aria-labelledby="h3-uses">
              {{#if product.uses}}
                <div id="uses">
                  <h3 id="h3-uses">Developed for</h3>
                  <Accordion @sections={{this.useAccordionSections}} />
                </div>
              {{/if}}
            </section>

            <section aria-labelledby="h3-qualities">
              {{#if product.qualities}}
                <div id="qualities">
                  <h3 id="h3-qualities">Key advantages</h3>
                  <Accordion @sections={{this.qualityAccordionSections}} />
                </div>
              {{/if}}
            </section>

            <section class="markdown">
              <div>
                <h3>Physical &amp; chemical properties</h3>
                <table class="chemistry">
                  <tbody>
                    <tr>
                      <td>Appearance</td>
                      <td>Clear colourless liquid</td>
                    </tr>
                    <tr>
                      <td>Solid content</td>
                      <td>5.3% +/- 0.5%</td>
                    </tr>
                    <tr>
                      <td>Halide content</td>
                      <td>0.00%</td>
                    </tr>
                    <tr>
                      <td>Density</td>
                      <td>at 20°C 0.825 g/ml ±0.01</td>
                    </tr>
                    <tr>
                      <td>Acid number</td>
                      <td>42 mg KOH/g ±5</td>
                    </tr>
                    <tr>
                      <td>Odour</td>
                      <td>Alcohol</td>
                    </tr>
                    <tr>
                      <td>IPC/EN</td>
                      <td>OR/L0</td>
                    </tr>
                    <tr>
                      <td>Packaging</td>
                      <td>
                        <div>1L</div>
                        <div>10L</div>
                        <div>25L</div>
                        <div>200L</div>
                      </td>
                    </tr>
                    <tr>
                      <td>Alloys</td>
                      <td>
                        <div>SnCuAg</div>
                        <div>SnPbAg</div>
                        <div>SnPb</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>

            <section
              id="compliance"
              class="markdown"
            >
              <div>
                <h3>Quality standards</h3>
                <h4>ISO 9001</h4>
                <p>
                  <span>{{product.name}} is produced at Interflux Electronics in Belgium, which has complied with the </span>
                  <Link
                    @label="ISO 9001"
                    @url="https://www.iso.org/"
                  />
                  <span> quality management standards since 1998.</span></p>
                <h4>RoHS</h4>
                <p>
                  <span>{{product.name}} complies with the EU </span>
                  <Link
                    @label="RoHS"
                    @url="https://en.wikipedia.org/wiki/Restriction_of_Hazardous_Substances_Directive"
                  />
                  <span>directive for hazardous substances.</span>
                </p>
                <h4>IEC</h4>
                <p>
                  <span>{{product.name}} complies with the IEC </span>
                  <Link
                    @label="EN 61190-1-1(2002)"
                    @url="https://www.iec.ch/"
                  />
                  <span> standard for reliable soldering of electronics.</span>
                </p>
                <h4>IPC</h4>
                <p>
                  <span>{{product.name}} complies with the IPC </span>
                  <Link
                    @label="J-STD-004A"
                    @url="https://www.ipc.org/"
                  />
                  <span> standard for quality soldering of soldering.</span>
                </p>
                <table class="tests">
                  <tbody>
                    <tr>
                      <th>Test method</th>
                      <th>Property</th>
                      <th>Result</th>
                    </tr>
                    <tr>
                      <td>J-STD-004A</td>
                      <td>Flux designator</td>
                      <td><mark>OR L0</mark></td>
                    </tr>
                    <tr>
                      <td>J-STD-004A IPC-TM-650 2.3.32</td>
                      <td>Qualitative copper mirror</td>
                      <td><mark>pass</mark></td>
                    </tr>
                    <tr>
                      <td>J-STD-004A IPC-TM-650 2.3.33D</td>
                      <td>
                        <div>Qualitative halide - Silver chromate (Cl, Br)</div>
                      </td>
                      <td><mark>pass</mark></td>
                    </tr>
                    <tr>
                      <td>J-STD-004A IPC-TM-650 2.3.35.1A</td>
                      <td>
                        <div>Qualitative halide - Spot test (F)</div>
                      </td>
                      <td><mark>pass</mark></td>
                    </tr>
                    <tr>
                      <td>J-STD-004A IPC-TM-650 2.3.35C</td>
                      <td>Quantitative halide</td>
                      <td><mark>0,00%</mark></td>
                    </tr>
                    <tr>
                      <td>J-STD-004A IPC-TM-650 2.6.3.3B</td>
                      <td>SIR test</td>
                      <td><mark>pass</mark></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>

            <section class="markdown">
              <div>
                <h3>How to use {{product.name}}</h3>
                <h4>Through hole filling</h4>
                <p>OSP finished boards can benefit with enough flux, lower preheat temperatures and high solder pressure on the
                  (first) wave to get good through hole filling.</p>
                <h4>Applying the flux</h4>
                <p>Spray fluxing: It is advised to use a double spray stroke during fluxing, whenever possible and to keep the flux air
                  pressure low. The nozzle traverse speed is set to a value which ensures that every point on the board is sprayed
                  twice, (once from each side). Resulting in a 50% overlap on the spray pattern. This will give the most uniform spray
                  pattern coverage. Spray pattern coverage can be checked by passing a piece of cardboard through the spray fluxer. Remove it before the preheat unit. Additionally the spray fluxer settings need to be checked by passing a glass
                  plate or empty circuit board through the fluxer. Remove it from the machine before it reaches the pre heater unit
                  and check it on flux quantity. There may be no drops present. Drops are a sign of excessive flux and are difficult to
                  evaporate. Reduce the flux amount until defects typical for a too low flux amount like, webbing, flagging, shorts
                  and icicles are observed. From this point increase the flux level again until defects disappear.</p>
                <h4>Preheating</h4>
                <p>The flux has been designed to perform well on low preheating settings. The recommended preheat temperature
                  measured on the topside of the boards is 80°C-100°C (176°-212°F) . Higher preheating is possible for electronic
                  units with high thermal mass. More preheating can promote through hole wetting on these units but beware not to
                  exhaust the flux. The flux itself has no lower limit for the preheating but the solvent should be evaporated before
                  wave contact.</p>
                <p>Preheat slope: 1-3°C/s</p>
                <h4>Wave contact</h4>
                <p>Typical wave contact or dwell time value is 3-4s when using a single solder wave. For double wave soldering systems typical values are 1-2s for the first wave and 2-4s for the second wave. Lower total dwell time limit is 2s. Solder wetting can be optimal at lower contact times however longer contact times facilitate total flux wash off from
                  the boards. The maximum upper limit will be determined by flux exhaustion and physical limitations of the board
                  and components. Indications for flux exhaustion are bridging, icicling, webbing,…</p>
              </div>
            </section>

            <section aria-labelledby="h3-documents">
              {{#if product.documents}}
                <div id="documents">
                  <h3>Documents</h3>
                  <ul>
                    {{#each product.documents as |document|}}
                      <li>
                        <div class="left">
                          <div class="icon">
                            <Image
                              @src="{{env 'cdnHost'}}/images/icons/download.svg"
                              @width="100"
                              @height="100"
                            />
                          </div>
                          <div class="text">
                            <h4>{{document.name}} (PDF)</h4>
                          </div>
                        </div>

                        <div class="right links">
                          {{#each document.files as |file|}}
                            <Button
                              @url={{file.url}}
                              @text={{file.language}}
                            />
                          {{/each}}
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            </section>
          </article>

          {{!-- TEMPORARY --}}
          {{!--
          <aside>
            <div class="sticky">
              <div class="box white">
                <dl>
                  <dt>Price:</dt>
                  <td>
                    <a href="javascript:void(0)">request</a>
                  </td>
                </dl>

                <dl>
                  <dt>Availability:</dt>
                  <td>
                    <a href="javascript:void(0)">request</a>
                  </td>
                </dl>

                <button
                  class="button-base big orange-3"
                  type="button"
                  id="order"
                >
                  <span>Order</span>
                </button>
              </div>

              <div class="box outlined">
                <h4>Need more information?</h4>
                <p>Ask us anything.</p>
                <textarea
                  rows="4"
                  placeholder="Your question"
                ></textarea>

                <button
                  class="button-base medium green"
                  type="button"
                  id="ask"
                >
                  <span>Ask</span>
                </button>
              </div>
            </div>
          </aside>
          --}}
        </div>
      </div>
    </main>

    <Footer />
  </Page>
{{/with}}