{{#with @model.product as |product|}}
  <Page @id="product">
    <Header />

    <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label=product.family.label route='home.products.subset' model=product.family.id)
      (hash label=product.name)
    }} />

    <main
      aria-labelledby="h1"
      aria-describedby="description"
    >
      <div class="liner">
        <BackNav
          @backRoute="home.products.subset"
          @backModel={{product.family.id}}
          @backLabel="All {{product.family.namePlural}}"
        />

        <div class="columns">
          <article
            id="products"
            {{did-insert this.didInsertProducts}}
          >
            <section>
              <div id="intro">
                <h1 id="h1">{{product.name}}</h1>
                <h2>{{product.family.nameSingle}}</h2>
                {{#if product.pitch}}
                  <p id="pitch">{{markdown product.pitch}}</p>
                {{/if}}
              </div>

              <div id="hero">
                <ResponsiveImage @image={{this.heroImage}} />
              </div>

              <div id="images">
                {{#each this.images as |image|}}
                  <button
                    type="button"
                    class={{if (eq image this.heroImage) 'active'}}
                    {{on 'click' (fn this.setHero image)}}
                  >
                    <ResponsiveImage @image={{image}} />
                  </button>
                {{/each}}
              </div>
            </section>

            <section aria-labelledby="h3-uses">
              {{#if product.uses}}
                <div id="uses">
                  <h3>Suitable for</h3>
                  <ul>
                    {{#each product.uses as |use|}}
                      <li>
                        <div class="left">
                          <div class="icon">
                            <Image @src={{use.iconURL}} />
                          </div>

                          <div class="text">
                            <h4>{{capitalise use.text}}</h4>
                            {{!-- {{#if use.gist}}
                              <div class="gist">
                                <p>{{use.gist}}</p>
                              </div>
                            {{/if}} --}}
                          </div>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            </section>

            <section aria-labelledby="h3-qualities">
              {{#if product.qualities}}
                <div id="qualities">
                  <h3>Qualities</h3>
                  <ul>
                    {{#each product.qualities as |quality|}}
                      <li>
                        <div class="left">
                          <div class="icon">
                            <Image @src={{quality.iconURL}} />
                          </div>
                          <div class="text">
                            <h4>{{quality.text}}</h4>
                            {{#if quality.gist}}
                              <div class="gist">
                                <p>{{quality.gist}}</p>
                              </div>
                            {{/if}}
                          </div>
                        </div>

                        <div class="right arrow">
                          <Svg::ArrowRight />
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            </section>

            <section aria-labelledby="h3-documents">
              {{#if product.documents}}
                <div id="documents">
                  <h3>Documents</h3>
                  <ul>
                    {{#each product.documents as |document|}}
                      <li>
                        <div class="left">
                          <div class="icon">
                            <Image
                              @src="{{env 'cdnHost'}}/images/icons/download.svg"
                              @width="100"
                              @height="100"
                            />
                          </div>
                          <div class="text">
                            <h4>{{document.name}} (PDF)</h4>
                          </div>
                        </div>

                        <div class="right links">
                          {{#each document.files as |file|}}
                            <Button
                              @url={{file.url}}
                              @text={{file.language}}
                            />
                          {{/each}}
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            </section>
          </article>

          <aside>
            <div class="sticky">
              <div class="box white">
                <dl>
                  <dt>Price:</dt>
                  <dd>
                    <a href="javascript:void(0)">request</a>
                  </dd>
                </dl>

                <dl>
                  <dt>Availability:</dt>
                  <dd>
                    <a href="javascript:void(0)">request</a>
                  </dd>
                </dl>

                <button
                  class="button-base big orange-3"
                  type="button"
                  id="order"
                >
                  <span>Order</span>
                </button>
              </div>

              <div class="box outlined">
                <h4>Need more information?</h4>
                <p>Ask us anything.</p>
                <textarea
                  rows="4"
                  placeholder="Your question"
                ></textarea>

                <button
                  class="button-base medium green"
                  type="button"
                  id="ask"
                >
                  <span>Ask</span>
                </button>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </main>

    <Footer />
  </Page>
{{/with}}