{{#if @model}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    id={{@id}}
    class="button-base button-route {{if @size @size 'medium'}} {{if @style @style 'primary'}}"
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#if @icon}}
        <Icon @name={{@icon}} />
      {{/if}}
      <span>{{@text}}</span>
    {{/if}}
  </LinkTo>
{{else}}
  <LinkTo
    @route={{@route}}
    id={{@id}}
    class="button-base button-route {{if @size @size 'medium'}} {{if @style @style 'primary'}}"
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#if @icon}}
        <Icon @name={{@icon}} />
      {{/if}}
      <span>{{@text}}</span>
    {{/if}}
  </LinkTo>
{{/if}}