<LinkTo
  @route="index"
  class="back"
>
  <img
    src="{{cdn-host}}/images/logos/secondary-interflux-electronics-symbol-2.svg"
    width="100px"
    height="100px"
  />
  <span>Interflux</span>
</LinkTo>

<AnimatedContainer>
  {{#animated-value hero use=transition duration=duration}}
    <HeroCard @model={{hero}}>
      <h2>{{hero.title}}</h2>
      <h2>{{hero.sub}}</h2>
      <img
        src="{{cdn-host}}{{hero.image}}"
        width="1000"
        height="1000"
      />
    </HeroCard>
  {{/animated-value}}
</AnimatedContainer>

<p>By name</p>
<ProductSet>
  {{#each @products as |product|}}
    <LinkTo
      @route="product"
      @model={{product.slug}}
    >
      <AnimatedContainer>
        {{#animated-value product use=this.transition duration=5000}}
          <ProductCard
            @product={{product}}
            @size="half"
          />
        {{/animated-value}}
      </AnimatedContainer>
    </LinkTo>
  {{/each}}
</ProductSet>

<p>By type</p>
<nav class="tiles">
  <div class="clip">
    <LinkTo @route="index">
      <h2>Soldering Fluxes</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Solder Paste</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Solder Wire</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Solder Alloys</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Fluxers</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Auxiliaries</h2>
    </LinkTo>
  </div>
  <div class="filler">
    <button>More</button>
  </div>
</nav>

<p>By purpose</p>
<nav class="tiles">
  <div class="clip">
    <LinkTo @route="index">
      <h2>For Wave Soldering</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>For Selective Soldering</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>For Reflow Soldering</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Solder alloys</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Fluxers</h2>
    </LinkTo>
    <LinkTo @route="index">
      <h2>Auxiliaries</h2>
    </LinkTo>
  </div>
  <div class="filler">
    <button>More</button>
  </div>
</nav>