<a href='https://interflux.com{{this.path}}'>
  <span>English<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag @country={{hash id='GB' nameNative='United Kingdom'}} />
    <Flag @country={{hash id='US' nameNative='United States of America'}} />
    <Flag @country={{hash id='CA' nameNative='Canada'}} />
    <Flag @country={{hash id='AU' nameNative='Australia'}} />
    <Flag @country={{hash id='NZ' nameNative='New Zealand'}} />
    <Flag @country={{hash id='SG' nameNative='Singapore'}} />
  </div>
</a>

{{!-- <a href='https://interflux.com.cn{{this.path}}'>
  <span>中文<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag @country={{hash id='CN' nameNative='中国' nameEnglish='China'}} />
    <Flag @country={{hash id='TW' nameNative='臺灣' nameEnglish='Taiwan'}} />
    <Flag @country={{hash id='HK' nameNative='香港' nameEnglish='Hong Kong'}} />
    <Flag @country={{hash id='MO' nameNative='澳門' nameEnglish='Macau'}} />
  </div>
</a> --}}

<a href='https://interflux.de{{this.path}}'>
  <span>Deutsch<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag
      @country={{hash id='DE' nameNative='Deutschland' nameEnglish='Germany'}}
    />
    <Flag
      @country={{hash id='AT' nameNative='Österreich' nameEnglish='Austria'}}
    />
    <Flag
      @country={{hash id='CH' nameNative='Schweiz' nameEnglish='Switzerland'}}
    />
  </div>
</a>

<a href='https://interflux.mx{{this.path}}'>
  <span>Español (México)<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag @country={{hash id='MX' nameNative='México'}} />
  </div>
</a>

<a href='https://interflux.es{{this.path}}'>
  <span>Español (España)<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag @country={{hash id='ES' nameNative='España'}} />
  </div>
</a>

{{!-- <a href='https://interflux.com{{this.path}}'>
  <span>Português (Brasil)<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag @country={{hash id='BR' nameNative='Brasil'}} />
  </div>
</a> --}}

{{!-- <a href='https://interflux.pt{{this.path}}'>
  <span>Português (Portugal)<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag @country={{hash id='PT' nameNative='Portugal'}} />
  </div>
</a> --}}

<a href='https://interflux.fr{{this.path}}'>
  <span>français<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag @country={{hash id='FR' nameNative='France'}} />
    <Flag @country={{hash id='BE' nameNative='Belgique'}} />
  </div>
</a>

{{!-- <a href='https://interflux.be{{this.path}}'>
  <span>Nederlands<Svg::ArrowRight /></span>
  <div class='flags'>
    <Flag
      @country={{hash id='NL' nameNative='Nederland' nameEnglish='Netherlands'}}
    />
    <Flag @country={{hash id='BE' nameNative='België' nameEnglish='Belgium'}} />
  </div>
</a> --}}