<header id='mobile' role='banner' aria-label='site' class={{this.state}}>
  <nav aria-label='page'>
    <div class='top'>
      {{#if @backRoute}}
        <Button
          @route={{@backRoute}}
          @model={{@backModel}}
          @icon='chevron-left'
          @theme='square outlined'
        />
      {{else}}
        <div id='logo'>
          <div class='clip'>
            <Svg::PrimaryInterfluxLogo />
          </div>
        </div>
      {{/if}}
      <h1 aria-hidden='true'>{{@title}}</h1>
      <Button
        @icon='hamburger'
        @theme='square outlined {{if this.menuIsOpen 'close'}}'
        @onClick={{this.toggleMenu}}
      />
    </div>

    <div class='mid'>
      <div class='logo'>
        <Svg::PrimaryInterfluxLogo />
      </div>
      <Button
        @route='home.products'
        @text='Products'
        @theme='stack white'
        @icon='flask'
      />
      <Button
        @route='home.company'
        @text='Company'
        @theme='stack white'
        @icon='microchip'
      />
      <Button
        @route='home.documents'
        @text='Documents'
        @theme='stack white'
        @icon='document'
      />
      <Button
        @route='home.contact'
        @text='Contact'
        @theme='stack white'
        @icon='street-view'
      />
    </div>
  </nav>
</header>