<Header::Desktop::Menu @isOpen={{@isOpen}}>
  <h2 aria-hidden='true'>
    {{t 'Processes we develop products for' 'header.8'}}
  </h2>
  <div class='links'>
    {{#each this.header.processLinks as |link|}}
      <Button @route={{link.route}} @model={{link.model}}>
        <img
          src='{{env "cdnHost"}}/images/icons/{{link.icon}}.svg'
          role='presentation'
          alt=''
          width='40'
          height='40'
        />
        <span>{{t link.label link.i18n}}<Svg::ArrowRight /></span>
      </Button>
    {{/each}}
  </div>
</Header::Desktop::Menu>