<Header::Desktop::Menu @isOpen={{@isOpen}}>
  <h2 aria-hidden='true'>
    {{t 'Processes we develop products for' 'header.8'}}
  </h2>
  <div class='links'>
    {{#each this.processes as |process|}}
      <Button @route='products.use' @model={{process.routeModel}}>
        <img
          src='{{env "cdnHost"}}/images/icons/{{process.icon}}.svg'
          role='presentation'
          alt=''
          width='40'
          height='40'
        />
        <span>{{process.label}}<Svg::ArrowRight /></span>
      </Button>
    {{/each}}
  </div>
</Header::Desktop::Menu>