<div class='text-input {{this.classes}}'>
  <input
    value={{@value}}
    type={{this.type}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    autocapitalize='off'
    autocomplete='off'
    autocorrect='off'
    spellcheck='false'
    {{on 'focus' this.onFocus}}
    {{on 'blur' this.onBlur}}
    {{on 'mouseover' this.onMouseOver}}
    {{on 'mouseout' this.onMouseOut}}
    {{on 'keydown' this.onKeyDown}}
    {{on 'keyup' this.onKeyUp}}
  />

  {{#if @icon}}
    {{#if this.iconIsValid}}
      <div class='icon'>
        {{component (concat 'svg/' @icon)}}
      </div>
    {{/if}}
  {{/if}}
</div>
