<figure
  class="responsive-image{{if @class (concat ' ' @class)}}"
  {{did-insert this.findOptimalSize}}
  {{on 'click' this.onClick}}
>
  <picture>
    {{#if this.error}}
      <Icon::InterfluxGrey />
    {{else}}
      {{#if this.loading}}
        <div class="loading">
          <LoadSpinner @icon="cup" />
        </div>
      {{/if}}
      {{#if this.foundOptimal}}
        {{#if webp}}
          <source
            srcset="{{cdn}}/{{@image.path}}@{{this.optimalWidth}}x{{this.optimalHeight}}.webp"
            type="image/webp"
          >
        {{/if}}
        <img
          src="{{cdn}}/{{@image.path}}@{{this.optimalWidth}}x{{this.optimalHeight}}.jpg"
          width={{this.optimalWidth}}
          height={{this.optimalHeight}}
          alt={{@image.alt}}
          onload={{this.onLoad}}
          onerror={{this.onError}}
        >
      {{/if}}
    {{/if}}
  </picture>

  {{#if @image.caption}}
    <figcaption>{{@image.caption}}</figcaption>
  {{/if}}
</figure>