<figure
  class="responsive-image"
  {{did-insert this.computeOptimalSize}}
>
  <picture>
    {{#if (and validParams (not this.error))}}
      {{#if this.loading}}
        <div class="loading">
          <LoadSpinner @icon="cup" />
        </div>
      {{/if}}
      {{#if this.foundOptimal}}
        {{#if webp}}
          <source
            srcset="{{cdn}}/{{@path}}@{{this.optimalWidth}}x{{this.optimalHeight}}.webp"
            type="image/webp"
          >
        {{/if}}
        <img
          src="{{cdn}}/{{@path}}@{{this.optimalWidth}}x{{this.optimalHeight}}.jpg"
          width={{this.optimalWidth}}
          height={{this.optimalHeight}}
          alt={{@alt}}
          onload={{this.onLoad}}
          onerror={{this.onError}}
        >
      {{/if}}
    {{else}}
      <Icon::InterfluxGrey />
    {{/if}}
  </picture>

  {{#if @caption}}
    <figcaption>{{@caption}}</figcaption>
  {{/if}}
</figure>