<section id='hero' aria-labelledby='h1'>
  <div class='liner'>
    <h1 id='h1'>{{t 'Webinars' 'webinars.1'}}</h1>
  </div>
</section>

{{!-- <section id='upcoming' aria-labelledby='upcoming-h2'>
    <h2 id='upcoming-h2'>Upcoming webinars</h2>
    {{#if this.noUpcoming}}
      <p>Sorry, no webinars are planned. We're hard at work organising the next
        one!</p>
    {{/if}}

    <ul>
      {{#each this.upcomingWebinars as |webinar|}}
        <li>
          <h2>{{webinar.title}}</h2>
          <p>Topic: {{webinar.topic}}</p>
          <p>Audience: {{webinar.audience}}</p>
          <p>Start time: {{webinar.startTimeUTC}} UTC</p>
          <p>Duration: {{webinar.duration}}</p>
          <p>Speaker: Steven Teliszewski</p>
        </li>
      {{/each}}
    </ul>
  </section> --}}

{{! <section id='cta' aria-label="suggest next webinar's topic and subscribe">
    <div class='liner'>
      <div id='suggest'>
        <h4>Got ideas?</h4>
        <p>Which topic should we cover in the next webinar?</p>
        <Button
          @text='Suggest topic'
          @icon='lightbulb'
          @theme='primary medium orange icon-left'
        />
      </div>

      <div id='subscribe'>
        <h4>Get notified</h4>
        <p>Receive an email when new webinar are planned.</p>
        <Button
          @text='Subscribe'
          @icon='email'
          @theme='primary medium green icon-left'
        />
      </div>
    </div>
  </section> }}

<section id='past' aria-labelledby='past-h2'>
  <h2 id='past-h2'>{{t 'Past webinars' 'webinars.2'}}</h2>

  <div class='today' role='presentation'>
    <p>{{t 'today' 'webinars.3'}}</p>
    <div class='dot'></div>
    <div class='vertical-line'></div>
  </div>

  <ul>
    {{#each this.pastWebinars as |webinar|}}
      <PastWebinarEvent @webinar={{webinar}} />
    {{/each}}
  </ul>

  <div role='presentation' class='past'>
    <div class='vertical-line'></div>
    <div class='dot'></div>
    <p>{{t 'past' 'webinars.4'}}</p>
  </div>
</section>

{{outlet}}