<header role='banner' aria-label='site'>
  {{#if (or this.media.isMobile this.media.isTablet)}}
    <nav id='mobile' aria-label='page'>
      {{#if this.header.showLogo}}
        <Button>
          <img
            src='{{env
              'cdnHost'
            }}/images/logos/primary-interflux-electronics-symbol-1.svg'
            width='100'
            height='100'
            alt='Interflux Electronics'
          />
        </Button>
      {{else}}
        <Button
          @route={{this.header.backRoute}}
          @model={{this.header.backModel}}
          @icon='chevron-left'
          @theme='square outlined'
        />
      {{/if}}
      <h1 aria-hidden='true'>{{this.header.title}}</h1>
      <Button
        @icon='hamburger'
        @theme='square outlined'
        @onClick={{this.openMenu}}
      />
    </nav>
  {{/if}}

  {{#if (or this.media.isDesktop this.media.isWidescreen)}}
    <nav id='desktop' class='liner' aria-label='page'>
      <div class='left'>
        <Button @route='index' @id='logo'>
          <img
            src='{{env
              'cdnHost'
            }}/images/logos/primary-interflux-electronics-logo-1.svg'
            width='3960'
            height='1000'
            alt='Interflux Electronics'
          />
        </Button>
        <Button @route='home.products' @text='Products' />
        <Button @route='home.company' @text='Company' />
        <Button @route='home.documents' @text='Documents' />
        <Button @route='home.contact' @text='Contact' />
      </div>
    </nav>
  {{/if}}
</header>