<Section @id='events'>
  <h2 class='ds h3'>{{t 'Meet Interflux and partners at ...' 'events.1'}}</h2>

  {{#if (eq this.view 'loading')}}
    <p>{{t 'Loading ...' 'events.2'}}</p>
  {{/if}}

  {{#if (eq this.view 'no-events')}}
    <p>{{t 'No upcoming events.' 'events.3'}} </p>
  {{/if}}

  {{#if (eq this.view 'has-events')}}
    <div class='list'>
      {{#each this.sortedEvents as |event|}}
        <details>
          <summary onclick={{this.collapseSiblings}}>
            <h3>
              <Tag @text={{event.name}} @theme='blue' />
            </h3>

            <p class='ds p'>
              <span>{{event.datesCombined}}, in
                {{event.city}},
                {{event.country.nameEnglish}}</span>
              <Flag @country={{event.country}} />
            </p>

            <Svg::ChevronDown />
          </summary>

          <div class='description'>
            {{markdown event.description}}
          </div>
        </details>
      {{/each}}
    </div>
  {{/if}}
</Section>