<Section @id='questions' @aria-labelledby='find-h2'>
  <h2 id='find-h2' class='h2'>
    {{t 'Find the right person'}}
  </h2>

  <div class='step'>
    <h3 class='h3'>{{t 'What do you want to do?'}}</h3>
    {{#if @isLoading}}
      <p class='p'>{{t 'Loading ...'}}</p>
    {{else}}
      <Pills
        @options={{array
          (t 'order products')
          (t 'request technical support')
          (t 'request a document')
          (t 'something else')
        }}
        @onSelect={{fn (mut this.intention)}}
        @selectedOption={{this.intention}}
      />
    {{/if}}
  </div>

  {{! TODO: don't use the option label, instead use an ID }}

  {{#if (eq this.intention 'order products')}}
    <div class='step'>
      <h3 class='h3'>{{t 'To which country?'}}</h3>
      {{#unless this.country}}
        <Search
          @onSelect={{this.onCountrySelect}}
          @searchModel='country'
          @searchLabel='nameEnglish'
          @searchFilter='nameEnglish'
          @minKeyStrokes='1'
        />
      {{/unless}}

      {{#if this.suggestedCountries.length}}
        <Pills
          @layout='horizontal'
          @options={{this.suggestedCountries}}
          @label='nameEnglish'
          @onSelect={{fn (mut this.country)}}
          @selectedOption={{this.country}}
        />
      {{/if}}
    </div>

    {{#if this.country}}
      <div class='step'>
        {{#if (gt this.country.marketsSorted.length 1)}}
          <h3 class='h3'>
            {{t
              'Please send your order to one of the following:'
              'contact.questions.h3.c'
            }}
          </h3>
        {{else}}
          <h3 class='h3'>
            {{t 'Please send your order to:'}}
          </h3>
        {{/if}}

        <ol class='companies'>
          {{#each this.country.marketsSorted as |market|}}
            <li>
              <Flag @country={{market.company.country}} />
              <p class='p'>
                <LinkTo
                  @route='partners.map'
                  @query={{hash show=market.company.slug}}
                >
                  {{market.company.businessName}}
                </LinkTo>
              </p>
              {{#if market.companyIsRecommended}}
                <p class='p recommended'>
                  <Svg::ThumbsUp />
                  <span>
                    {{t 'recommended'}}
                  </span>
                </p>
              {{/if}}
            </li>
          {{/each}}
        </ol>
      </div>
    {{/if}}
  {{/if}}

  {{! TODO: don't use the option label, instead use an ID }}

  {{#if (eq this.intention 'request technical support')}}
    <div class='step'>
      <h3 class='h3'>
        {{t "Please email us and we'll connect you to an expert."}}
      </h3>
      <p class='p'>
        <a href='mailto:support@interflux.com'>support@interflux.com</a>
      </p>
      <p class='p'>
        {{t 'To let us help you faster, please describe:'}}
      </p>
      <ul class='bullets'>
        <li class='p'>
          {{t 'What you are trying to do'}}</li>
        <li class='p'>
          {{t 'Which Interflux products are involved'}}
        </li>
        <li class='p'>
          {{t 'Observed issues'}}
        </li>
        <li class='p'>
          {{t 'Desired outcomes'}}
        </li>
      </ul>
    </div>
  {{/if}}

  {{#if (eq this.intention 'request a document')}}
    <div class='step'>
      <h3 class='h3'>What type of document?</h3>
      <Pills
        @options={{array 'Safety data sheet (SDS)' 'something else'}}
        @onSelect={{fn (mut this.neededDocument)}}
        @selectedOption={{this.neededDocument}}
      />
    </div>

    {{#if (eq this.neededDocument 'Safety data sheet (SDS)')}}
      <div class='step'>
        <h3 class='h3'>Please email our REACH coordinator on:</h3>
        <p class='p'>
          <a href='mailto:reach@interflux.com'>reach@interflux.com</a>
        </p>

        {{!--
        <Input::Search
          @label='For which product do you need an SDS?'
          @targetModel='product'
          @targetLabel='name'
          @suggestions={{array 'IF 2005M' 'LMPA Q6' 'Purgel'}}
          @onSelect={{fn (mut this.sdsProduct)}}
        />
        --}}
      </div>
    {{/if}}

    {{#if (eq this.neededDocument 'something else')}}
      <div class='step'>
        <h3 class='h3'>
          {{t 'Are you able to find the document in our library?'}}
        </h3>

        <Search
          @value={{this.document}}
          @onSelect={{this.onDocumentSelect}}
          @searchModel='document'
          @searchLabel='name'
          @searchFilter='name'
          @minKeyStrokes='1'
        />

        {{#if this.document}}
          <div class='links'>
            {{#each this.document.files as |file|}}
              <p class='p'>
                <Svg::File />
                <Link @url={{file.url}} @label={{file.language}} />
              </p>
            {{/each}}
          </div>
        {{/if}}

        <Pills
          @options={{array (t 'Yes') (t 'No')}}
          @onSelect={{fn (mut this.foundDoc)}}
          @selectedOption={{this.foundDoc}}
          @layout='horizontal'
        />
      </div>
    {{/if}}

    {{#if (eq this.foundDoc 'Yes')}}
      <div class='step'>
        <h3 class='h3'>{{t 'Great!'}}</h3>
      </div>
    {{/if}}

    {{#if (eq this.foundDoc 'No')}}
      <div class='step'>
        <h3 class='h3'>
          {{t "Please email us and we'll find it for you:"}}
        </h3>
        <p>
          <a href='mailto:ask@interflux.com'>ask@interflux.com</a>
        </p>
      </div>
    {{/if}}
  {{/if}}

  {{!--
  {{#if (eq this.intention 'report issue with website')}}
    <div class='step'>
      <h3 class="h3">Please describe the issue.</h3>
      <p>What were you trying to do on our website?</p>
      <textarea rows='8' cols='80'></textarea>
      <p>What went wrong?</p>
      <textarea rows='8' cols='80'></textarea>
      <p>Which browser are you on?</p>
      <Pills
        @layout='horizontal'
        @options={{array
          'Chrome'
          'Firefox'
          'Edge'
          'Safari'
          'Opera'
          'Brave'
          'Internet Exploder'
          'Other'
        }}
        @onSelect={{fn (mut this.browser)}}
        @selectedOption={{this.browser}}
      />
      <p>What device are you on?</p>
      <Pills
        @layout='horizontal'
        @options={{array
          'Windows'
          'Mac'
          'Android'
          'iPhone'
          'iPad'
          'Linux'
          'Other'
        }}
        @onSelect={{fn (mut this.device)}}
        @selectedOption={{this.device}}
      />
      <p>Can we contact you if we need more information?</p>
      <Pills
        @layout='horizontal'
        @options={{array 'Yes' 'No'}}
        @onSelect={{fn (mut this.canContact)}}
        @selectedOption={{this.canContact}}
      />
      <Button
        @text='Send report'
        @theme='medium primary green'
        @onClick={{this.sendBugReport}}
      />
    </div>
  {{/if}}
  --}}

  {{#if (eq this.intention 'something else')}}
    <div class='step'>
      <h3 class='h3'>Ask us anything.</h3>
      <p class='p'>
        <a href='mailto:ask@interflux.com'>ask@interflux.com</a>
      </p>
      <p class='p'>We typically respond within 12 hours, except on weekends.</p>
    </div>
  {{/if}}
</Section>