<div class="input-string{{if @class (concat ' ' @class)}}">
  <input
    value={{@value}}
    type={{@type}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    autocapitalize='off'
    autocomplete='off'
    autocorrect='off'
    spellcheck="false"
    {{on 'focus' this.onFocus}}
    {{on 'blur' this.onBlur}}
    {{on 'keyup' this.onKeyUp}}
    autofocus='true'
  >
  {{#if @icon}}
    <div class="icon">
      {{!-- <Icon @name={{@icon}} /> --}}
    </div>
  {{/if}}
</div>