<div class='search {{this.classes}}' {{did-insert this.onInsert}}>
  <div class='wrapper'>
    <TextInput
      @value={{this.value}}
      @type='search'
      @icon='search'
      @theme='classic'
      @onFocus={{this.onFocus}}
      @onBlur={{this.onBlur}}
      @onMouseOver={{this.onMouseOver}}
      @onMouseOut={{this.onMouseOut}}
      @onKeyDown={{this.onKeyDown}}
      @onKeyUp={{this.onKeyUp}}
    />

    {{#if (eq @state 'idle')}}
      <div class='icon'>
        <Svg::Search />
      </div>
    {{/if}}

    {{#unless @error}}
      {{#if this.focus}}
        {{#if this.isSearching}}
          <p class='message searching'>Searching ...</p>
        {{else}}
          {{#if this.showResults}}
            <div class='results'>

              {{#each this.buttons as |btn i|}}
                {{#if btn.shown}}
                  <button
                    type='button'
                    class={{btn.classes}}
                    {{on 'mouseover' (fn this.onMouseOverButton i)}}
                    {{on 'mousedown' (fn this.onMouseDown btn.record)}}
                  >
                    {{btn.label}}
                  </button>
                {{/if}}
              {{/each}}

              {{#if this.error}}
                <p class='message error'>Search broke</p>
              {{else}}
                <p class='message'>{{this.recordCount}} results</p>
              {{/if}}
            </div>
          {{else}}
            <p class='message'>{{this.keepTypingMessage}}</p>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/unless}}

    {{yield}}
  </div>
</div>