<a
  href={{@href}}
  class="button-base button-url {{@size}} {{@style}}"
  target="_blank"
  rel="noreferrer noopener"
  id={{@id}}
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if @icon}}
      {{!-- <Icon @name="{{@icon}}" /> --}}
    {{/if}}
    {{#if @text}}
      <span>{{@text}}</span>
    {{/if}}
  {{/if}}
</a>