<div
  class="search-list"
  {{did-insert this.onInsert}}
>
  <header>
    <Input
      @type="search"
      @onChange={{fn this.filter}}
      @size="medium"
    />
  </header>

  <p><strong>{{this.count}}</strong> results out of {{max}}</p>

  <!-- {{yield this.results}} -->

  {{yield}}
</div>