{{#if (eq @model.category.slug 'reach')}}

  <Modal @id="reach">
    <Section
      @id="reach"
      @class="text"
    >
      <Icon @src="{{cdn}}/images/icons/file-medical.svg" />
      <h3>{{@model.category.name}}</h3>
      <p>REACH is the legislation of the European Union regulating chemical
        substances across Europe. Interflux is subject to and in compliance
        with
        this legislation. If you have any questions or need specific documents
        regarding REACH, please contact our friendly team in Belgium:
      </p>
      <Button::Url
        @href="mailto:reach@interflux.com"
        @text="reach@interflux.com"
        @size="medium"
        @style="orange-3"
      />
      <p>
        Alternatively, visit the
        <Button::Url
          @href="https://osha.europa.eu/en/themes/dangerous-substances/reach"
          @text="REACH website"
          @size="inline"
        />.
      </p>
    </Section>
  </Modal>

{{else}}

  <Modal
    @id="documents"
    @class="@model.category.slug"
  >
    <Section @class="text">
      <Icon @src="{{cdn}}/images/icons/{{@model.category.icon}}.svg" />
      <h3>{{@model.category.name}}</h3>
      <p>{{@model.category.gist}}</p>
    </Section>

    <Section
      @id="documents"
      @class="documents"
    >
      <SearchList
        @input-placeholder="Search"
        @input-class="big white shadow"
      >
        <ul>
          {{#each @model.category.documents as |document|}}
            <li>
              <Button::Url @href="{{cdn}}/{{document.path}}">
                <p data-search="me">{{document.name}}</p>
                <p>&nbsp;-&nbsp;</p>
                <p data-search="me">{{document.language.nameEnglish}}</p>
                <p>download</p>
              </Button::Url>
            </li>
          {{/each}}
        </ul>
      </SearchList>
    </Section>
  </Modal>

{{/if}}