<Modal @id={{@model.category.slug}}>
  {{#if (eq @model.category.slug 'reach')}}

    <Section
      @id="reach"
      @class="text"
    >
      <Icon @src="{{cdn}}/images/icons/file-medical.svg" />
      <h3>{{@model.category.name}}</h3>
      <p>REACH is the legislation of the European Union regulating chemical
        substances across Europe. Interflux is subject to and in compliance with
        this legislation. If you have any questions or need specific documents
        regarding REACH, please contact our friendly team in Belgium:
      </p>
      <Button::Url
        @href="mailto:reach@interflux.com"
        @text="reach@interflux.com"
        @size="medium"
        @style="orange-3"
      />
      <p>
        Alternatively, visit the
        <Button::Url
          @href="https://osha.europa.eu/en/themes/dangerous-substances/reach"
          @text="REACH website"
          @size="inline"
        />.
      </p>
    </Section>

  {{else}}

    <Section @class="text">
      <h3>{{@model.category.name}}</h3>
      <p>{{@model.category.gist}}</p>
    </Section>

    <Section::Documents @id="documents">
      <SearchList>
        <ul>
          {{#each @model.category.documents as |document|}}
            <li>
              <Button::Url @href="{{cdn}}/{{document.path}}">
                <Image
                  @src="{{cdn}}/images/icons/file-download.svg"
                  @width="100"
                  @height="100"
                />
                <span data-search="me">{{document.name}} </span>
                <span>- {{document.language.nameEnglish}}</span>
                <span>download</span>
              </Button::Url>
            </li>
          {{/each}}
        </ul>
      </SearchList>
    </Section::Documents>

  {{/if}}
</Modal>