<Page @id="product-family">
  <Header />

  <!-- <Breadcrumbs>
    <Button::Route
      @route="products"
      @text="Products"
      @icon="arrow-right"
      @class="back"
    />
  </Breadcrumbs> -->

  <Section::Hero
    @text={{capitalise @model.family.namePlural}}
    @image="{{cdn}}/images/processes/circuit-board-1.jpg"
  />

  {{#if (eq @model.family.slug 'soldering-fluxes')}}

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/alcohol.svg" />
      <h3>Alcohol-based Soldering Fluxes</h3>
      <p>Water-based soldering fluxes are popular because they VOC-free and
        non-flamable, which makes them considerably easier to transport and
        store.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature='alcohol-based'
    />

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/water.svg" />
      <h3>Water-based Soldering Fluxes</h3>
      <p>Water-based soldering fluxes are popular because they VOC-free and
        non-flamable, which makes them considerably easier to transport, store
        and handle.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature='water-based'
    />

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/chemistry.svg" />
      <h3>Rosin-based Soldering Fluxes</h3>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature='rosin-based'
    />

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/soldering-flux.svg" />
      <h3>All soldering fluxes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    </Section::Text>

    <Section::Products @products={{@model.family.products}} />

  {{else if (eq @model.family.slug 'solder-pastes')}}

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/leaves.svg" />
      <h3>Lead-free solder pastes</h3>
      <p>Lead-free solder paste alloys are popular because they do no pose
        health
        risks and cause environmental contamination.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature="lead-free-alloys"
    />

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/lead.svg" />
      <h3>Lead-based Solder Pastes</h3>
      <p>Lead-based solder paste alloys are popular for their low melting points
        and mechanical strength. We recommend protective clothing for working
        with lead has health risks.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature="lead-based-alloys"
    />

  {{else if (eq @model.family.slug 'solder-wires')}}

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/laser-soldering.svg" />
      <h3><small>solder wires for</small><br>Laser Soldering</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature="laser-soldering"
    />

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/robot-soldering.svg" />
      <h3><small>solder wires for</small><br>Robot Soldering</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature="robot-soldering"
    />

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/rework-and-repair.svg" />
      <h3><small>solder wires for </small><br>Hand Soldering</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature="hand-soldering"
    />

  {{else if (eq @model.family.slug 'solder-alloys')}}

    <Section::Products @products={{@model.family.products}} />

  {{else if (eq @model.family.slug 'fluxing-systems')}}

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/jet-fluxing.svg" />
      <h3>Stand-alone Fluxing Systems</h3>
      <p>Stand-alone fluxing systems are all-in-one self-sufficient machines for
        fluxing circuit boards. These are typicially added to the beginning of a
        wave soldering or selective soldering process. The machine includes it's
        own smart software for maximising the throughput speed. Our flux nozzles
        can jet and spray with water-based, alcohol-based and rosin-based
        soldering fluxes.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature='stand-alone-system'
    />

    <Section::Text>
      <Icon @src="{{cdn}}/images/icons/spray-fluxing.svg" />
      <h3>Retrofit Fluxing Systems</h3>
      <p>Retrofit fluxing systems are small and modular so they can be mounted
        into your existing fluxing machines. Our flux nozzles can jet and spray
        with water-based, alcohol-based and rosin-based soldering fluxes.</p>
    </Section::Text>

    <Section::Products
      @products={{@model.family.products}}
      @feature='retrofit-system'
    />

  {{else if (eq @model.family.slug 'auxiliaries')}}

    <Section::Products @products={{@model.family.products}} />

  {{/if}}

  <Footer />
</Page>