{{#if label}}
  <label>{{label}}</label>
{{/if}}

{{#if showError}}
  <div class="error">
    <p
      onclick={{action "hideError"}}
      role="button"
    >
      {{error}}
    </p>
  </div>
{{/if}}

<div class="wrapper">
  <input
    value={{value}}
    placeholder={{placeholder}}
    oninput={{action "onInput" value="target.value"}}
    onkeyup={{action "onKeyUp"}}
    onfocus={{action "onFocus"}}
    onblur={{action "onBlur"}}
  >

  <div class="icon"></div>

  {{#if showDropdown}}
    <div class="dropdown">
      <ul>
        {{#each results as |result index|}}
          <li
            onclick={{action "onClickItem" result}}
            onmouseover={{action "onMouseOverItem" index}}
            class={{if (eq index highlightIndex) "highlight"}}
            role="button"
          >
            {{result.html}}
          </li>
        {{else}}
          <li>
            <span>No results found for <strong>{{userSearch}}</strong></span>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>

{{#if isLoading}}
  <div class="status loading"><i class="fa fa-refresh fa-spin"></i></div>
{{else if showCheck}}
  <div class="status check"><i class="fa fa-check"></i></div>
{{/if}}