<Page @id="product-family">
  <Header />

  <Section::Subnav>
    <nav>
      <Button::Route @route="products">
        <Svg::ArrowRight />
        <span>Back to list</span>
      </Button::Route>

      {{#each @model.families as |family|}}
        <Button::Route
          @route="products.family"
          @model={{family.slug}}
          @text={{capitalise family.namePlural}}
        />
      {{/each}}
    </nav>
  </Section::Subnav>

  <Section @id="hero">
    <div class="text">
      <h2>{{capitalise @model.family.namePlural}}</h2>
    </div>
    <div class="images">
      {{#each @model.family.heros as |hero|}}
        <ResponsiveImage
          @path={{hero}}
          @sizes={{array '2400x2400' '2200x2200' '2000x2000' '1800x1800' '1600x1600' '1400x1400' '1200x1200' '1000x1000' '800x800' '600x600' '400x400' '200x200' '100x100' '50x50'}}
          @formats={{array 'jpg' 'webp'}}
        />
      {{/each}}
    </div>
  </Section>

  {{#each @model.family.subs as |sub|}}
    <Section::Products
      @icon={{sub.icon}}
      @title={{sub.title}}
      @text={{sub.text}}
      @feature={{sub.filter}}
      @products={{@model.family.products}}
    />
  {{/each}}

  <Footer />
</Page>