<Page @id="product-family">
  <Header />

  <nav
    id="breacrumbs"
    aria-label="breadcrumbs"
  >
    <ol>
      <li>
        <a href="/en/">Interflux</a>
        <Svg::ArrowRight />
      </li>
      <li>
        <a href="/en/products">Products</a>
      </li>
    </ol>
  </nav>

  <main aria-labelledby="h1">
    <div class="liner">
      <div id="filters">
        <fieldset>
          <legend>Search by name</legend>
          <input
            type="text"
            name=""
            value=""
          >
        </fieldset>

        <fieldset>
          <legend>Families</legend>
          {{#each this.filters.families as |checkbox|}}
            <div class="checkbox-group">
              <Checkbox
                @id={{checkbox.id}}
                @checked={{checkbox.checked}}
                @onClick={{fn this.handleCheckboxClick checkbox.id}}
              />
              <label for="input-{{checkbox.id}}">{{checkbox.label}}</label>
            </div>
          {{/each}}

          {{#each @model.families as |family|}}
            <p>{{family.namePlural}}</p>
          {{/each}}
        </fieldset>

        <fieldset>
          <legend>Applications</legend>
          {{#each this.filters.families as |checkbox|}}
            <div class="checkbox-group">
              <Checkbox
                @id={{checkbox.id}}
                @checked={{checkbox.checked}}
                @onClick={{fn this.handleCheckboxClick checkbox.id}}
              />
              <label for="input-{{checkbox.id}}">{{checkbox.label}}</label>
            </div>
          {{/each}}

          {{#each @model.uses as |use|}}
            <p>{{use.text}}</p>
          {{/each}}
        </fieldset>
      </div>

      <div id="products">

        <h1 id="h1">Products</h1>

        {{#each this.model.families as |family|}}
          <section
            labelledby="h2-{{family.id}}"
            describedby="p-{{family.id}}"
          >
            <h2 id="h2-{{family.id}}">{{family.namePlural}}</h2>
            <p id="p-{{family.id}}">{{family.description}}</p>
            <ol>
              {{#each family.products as |product|}}
                <li>
                  <a href={{href-to 'home.product' product.id}}>
                    <div class="left">
                      <ResponsiveImage @image={{product.image}} />
                    </div>

                    <div class="center">
                      <h3>{{product.name}}</h3>
                      <h4>{{product.family.nameSingle}}</h4>
                      <p>{{product.pitch}}</p>
                    </div>

                    <div class="right">
                      <Svg::ArrowRight />
                    </div>
                  </a>
                </li>
              {{/each}}
            </ol>
          </section>
        {{/each}}
      </div>
    </div>
  </main>

  <Footer />
</Page>