<div id='contact-new'>

  <Section @id='hero' @aria-labelledby='h1'>
    <div class='bg'>
      <div class='preload'></div>
      <div class='high-res'></div>
    </div>
    <h1 id='h1'>Contact</h1>
  </Section>

  <Section @id='map' @aria-labelledby='map'>
    <h2 id='map-h2'>We offer worldwide support</h2>

    <p>
      The Interflux Network consists of 40 partners worldwide and is located in
      key regions for the electronics manufacturing industry. That means there
      is good chance someone near you can deliver Interflux products and
      localised support.
    </p>

    <div class='container'>
      {{#if @isLoading}}
        <p>Loading ...</p>
        <div class='preload'></div>
      {{else}}
        <Button @route='partners.map' @class='map'>
          <img
            src='{{env
              'cdnHost'
            }}/images/public/interflux-network-map/interflux-network-map@1000x450.webp'
            alt='the interflux network'
            width='1000'
            height='450'
          />
          <div class='preload'></div>
        </Button>

        <Button
          @route='partners.map'
          @text='Expand map'
          @icon='expand'
          @theme='large secondary white-text-on-blue icon-left'
        />
      {{/if}}
    </div>
  </Section>

  <ContactPage::FindSection @countries={{@countries}} />

  <ContactPage::SearchSection
    @isLoading={{@isLoading}}
    @companies={{@companies}}
  />

  <Section @id='join' @aria-labelledby='join-h2'>
    <div class='image'>
      <img
        src='{{env
          'cdnHost'
        }}/images/public/containers-at-port/containers-at-port@600x400.webp'
        alt='containers at port in Singapore'
        width='300'
        height='200'
      />
      <div class='preload'></div>
    </div>

    <div class='text'>
      <h2 id='join-h2'>Become an Interflux Partner</h2>
      <p>Gain access to our worldwide distribution network, exclusivity to
        distribute Interflux products in your region and some of the best
        soldering chemistry your customers have ever tried.</p>
      <Button
        @text='Find out how'
        @icon='lightbulb'
        @route='home'
        @theme='medium primary orange icon-right'
      />
    </div>
  </Section>
</div>