<li class="product-row">
  <a href={{href-to 'home.product' @product.id}}>
    <div class="left">
      <ResponsiveImage @image={{@product.image}} />
    </div>

    <div class="center">
      <h3>{{@product.name}}</h3>
      <h4>{{@product.family.nameSingle}}</h4>
      {{#if @product.pitch}}
        <p>{{markdown @product.pitch}}</p>
      {{/if}}
    </div>

    <div class="right">
      <Svg::ArrowRight />
    </div>
  </a>
</li>