<li
  id={{@product.id}}
  class='product-row {{@product.status}} {{@product.family.slug}}'
>
  <a href={{href-to 'product' @product.id}}>
    <div class='left'>
      {{#if @avatar}}
        <ResponsiveImage
          @path={{@avatar.path}}
          @variations={{@avatar.variations}}
          @alt={{@avatar.alt}}
        />
      {{else}}
        {{#if @product.avatarPath}}
          <ResponsiveImage
            @path={{@product.avatarPath}}
            @variations={{@product.avatarVariations}}
            @alt={{@product.avatarAlt}}
          />
        {{/if}}
      {{/if}}
    </div>

    <div class='center'>
      <h3>{{@product.name}}</h3>
      <div class='tags'>
        {{#if @product.familyLabel}}
          <h4 class='blue'>
            {{t @product.familyLabel 'product.1' @product.id}}
          </h4>
        {{/if}}
        {{#if @product.isNew}}
          <h4 class='orange'>{{t 'new' 'product.2'}}</h4>
        {{/if}}
        {{#if @product.isPopular}}
          <h4 class='orange'>{{t 'popular' 'product.3'}}</h4>
        {{/if}}
        {{#if @product.isOutdated}}
          <h4 class='grey'>{{if
              @product.superiorProduct
              (concat
                (t 'replaced by' 'product.4') ' ' @product.superiorProduct.name
              )
              'outdated'
            }}</h4>
        {{/if}}
        {{#if @product.isDiscontinued}}
          <h4 class='red'>
            {{t 'out of production' 'product.5'}}
            {{if
              @product.superiorProduct
              (concat
                '– '
                (t 'replaced by' 'product.4')
                ' '
                @product.superiorProduct.name
              )
            }}
          </h4>
        {{/if}}
      </div>
      {{#if @product.pitch}}
        <div class='pitch'>
          {{markdown (t @product.pitch 'product.2' @product.id)}}
        </div>
      {{/if}}
      {{#if (and this.features this.media.isDesktopWidescreen)}}
        <div class='features'>
          {{#each this.features as |feature|}}
            <div class='feature'>
              <Image @src={{feature.iconURL}} />
              <div class='callout'>
                <span>
                  {{feature.text}}
                </span>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>

    {{#if this.media.isDesktopWidescreen}}
      <div class='right'>
        <Svg::ArrowRight />
      </div>
    {{/if}}
  </a>
</li>