<li
  id={{@product.slug}}
  class="product-row {{@product.status}} {{@product.family.slug}}"
>
  <a href={{href-to 'home.product' @product.id}}>
    <div class="left">
      <ResponsiveImage @image={{@product.image}} />
    </div>

    <div class="center">
      <h3>{{@product.name}}</h3>
      <div class="tags">
        {{#if @product.familyLabel}}
          <h4 class="blue">{{@product.familyLabel}}</h4>
        {{/if}}
        {{#if @product.isNew}}
          <h4 class="orange">NEW</h4>
        {{/if}}
        {{#if @product.isPopular}}
          <h4 class="orange">popular</h4>
        {{/if}}
        {{#if @product.isOutdated}}
          <h4 class="grey">{{if @product.superiorProduct (concat 'replaced by ' @product.superiorProduct.name) 'outdated'}}</h4>
        {{/if}}
        {{#if @product.isDiscontinued}}
          <h4 class="red">out of production{{if @product.superiorProduct (concat '- replaced by ' @product.superiorProduct.name)}}</h4>
        {{/if}}
      </div>
      {{#if @product.pitch}}
        <div class="pitch">
          {{markdown @product.pitch}}
        </div>
      {{/if}}
    </div>

    <div class="right">
      <Svg::ArrowRight />
    </div>
  </a>
</li>