<h1>Products <strong>by purpose</strong></h1>

<IconDuo
  @icon1='soldering-flux'
  @icon2='water-based'
/>
<h2>Water-based soldering fluxes</h2>
<p>Etsy put a bird on it viral thundercats selfies flexitarian fashion axe kickstarter vice 90's, drinking vinegar godard yr biodiesel. Beard health goth craft beer, pork belly tilde etsy small batch viral yuccie organic paleo hoodie four dollar.</p>
<ProductSet>
  {{#each @products as |product|}}
    <LinkTo
      @route="product"
      @model={{product.slug}}
    >
      <AnimatedContainer>
        {{#animated-value product use=this.transition duration=5000}}
          <ProductCard
            @product={{product}}
            @size="half"
          />
        {{/animated-value}}
      </AnimatedContainer>
    </LinkTo>
  {{/each}}
</ProductSet>

{{!-- <AnimatedContainer>
{{#animated-value hero use=transition duration=duration}}
  <HeroCard @model={{hero}}>
    <h2>{{hero.title}}</h2>
    <h2>{{hero.sub}}</h2>
    <img
      src="{{cdn-host}}{{hero.image}}"
      width="1000"
      height="1000"
    />
  </HeroCard>
{{/animated-value}}
</AnimatedContainer> --}}