<Page @id="product">
  <Section @class="temporary">
    <Button::Route
      @route="products.family.index"
      @text="Back"
      @size="small"
      @style="grey"
    />
  </Section>

  <Section::ProductHero @product={{@model.product}} />

  {{#if @model.product.pitch}}
    <Section::Text @id="pitch">
      <h4>In short</h4>
      <p>{{markdown-to-html @model.product.pitch}}</p>
    </Section::Text>
  {{/if}}

  {{#if @model.product.processes}}
    <Section::ProductFeatures @id="processes">
      <h4>Recommended for</h4>
      <ul>
        {{#each @model.product.processes as |feature|}}
          <li>
            <Image @src="{{cdn}}/images/icons/{{feature.icon}}.svg" />
            <p>{{capitalise feature.text}}</p>
          </li>
        {{/each}}
      </ul>
    </Section::ProductFeatures>
  {{/if}}

  {{#if @model.product.qualities}}
    <Section::ProductFeatures @id="qualities">
      <h4>Key advantages</h4>
      <ul>
        {{#each @model.product.qualities as |feature|}}
          <li>
            <Image @src="{{cdn}}/images/icons/{{feature.icon}}.svg" />
            <p>{{feature.text}}</p>
          </li>
        {{/each}}
      </ul>
    </Section::ProductFeatures>
  {{/if}}

  {{#if @model.product.documents}}
    <Section::Documents @id="documents">
      <h4>Related documents</h4>
      <ul>
        {{#each @model.product.documents as |document|}}
          <li>
            <Button::Url @href="{{cdn}}/{{document.path}}">
              <Image
                @src="{{cdn}}/images/icons/download.svg"
                @width="100"
                @height="100"
              />
              <span>
                {{document.name}} ({{document.language.nameEnglish}})
              </span>
            </Button::Url>
          </li>
        {{/each}}
      </ul>
    </Section::Documents>
  {{/if}}
</Page>