<div class={{this.classes}}>
  {{#if @selected}}
    <Button
      @text={{get @selected this.label}}
      @icon='cross'
      @theme='pill selected'
      @route={{@resetRoute}}
    />
  {{else}}
    {{#each @options as |option i|}}
      <Button
        @text={{get option this.label}}
        @theme='pill idle'
        @route={{option.route}}
        @model={{option.model}}
        @onClick={{this.onClick}}
      />
    {{/each}}
  {{/if}}
</div>