<Header::Desktop::Menu @isOpen={{@isOpen}}>
  <div class='links'>
    <h2 aria-hidden='true'>{{t 'Products we develop' 'header.29'}}</h2>

    {{#each this.header.productLinks as |link i|}}
      <Button
        @route={{link.route}}
        @model={{link.model}}
        @onFocus={{fn this.showImage i}}
        @onMouseEnter={{fn this.showImage i}}
      >
        <span>{{t link.label link.i18n}}<Svg::ArrowRight /></span>
      </Button>
    {{/each}}
  </div>

  <div class='image' data-position={{this.imagePosition}}>
    <ResponsiveImage
      @path='images/public/products-menu-sprite'
      @variations='@666x5328.webp,@666x5328.jpg'
    />
  </div>
</Header::Desktop::Menu>