<Section
  @id={{@id}}
  @class="products{{if @class (concat ' ' @class)}}"
>

  <div class="text">
    {{#if @icon}}
      <Icon @name={{@icon}} />
    {{/if}}
    {{#if @title}}
      <h2>{{markdown @title}}</h2>
    {{/if}}
    {{#if @text}}
      <p>{{markdown @text}}</p>
    {{/if}}
  </div>

  <div class="tiles {{if this.showAll 'show-all' 'show-featured'}} {{if (eq this.count 4) 'four' 'not-four'}}">
    {{#each this.featuredProducts as |product|}}
      <LinkTo
        @route="product"
        @models={{array product.family.slug product.slug}}
        class="product-tile {{if product.featured 'featured' 'hidden'}}"
      >
        <h2>{{product.name}}</h2>
        <h3>{{if product.label product.label product.family.nameSingle}}</h3>
        <ResponsiveImage
          @path={{product.avatar.id}}
          @sizes={{array '2400x2400' '2200x2200' '2000x2000' '1800x1800' '1600x1600' '1400x1400' '1200x1200' '1000x1000' '800x800' '600x600' '400x400' '200x200' '100x100' '50x50'}}
          @formats={{array 'jpg' 'webp'}}
        />

        {{!-- <ResponsiveImage @image={{get product 'avatar'}} /> --}}


        {{#if (or product.new product.popular product.featured)}}
          <button type="button">
            {{#if product.new}}
              <span>NEW</span>
            {{else if product.popular}}
              <span>popular</span>
            {{else if product.featured}}
              <span>learn more</span>
            {{/if}}
            {{!-- <span>Explore</span> --}}
            <Svg::ArrowRight />
          </button>
        {{/if}}
      </LinkTo>
    {{/each}}

    {{#each this.hiddenProducts as |product|}}
      <LinkTo
        @route="product"
        @models={{array product.family.slug product.slug}}
        class="product-tile {{if product.featured 'featured' 'hidden'}}"
      >
        <h2>{{product.name}}</h2>
        <h3>{{if product.label product.label product.family.nameSingle}}</h3>
        {{#if this.showAll}}
          <ResponsiveImage @image={{get product 'avatar'}} />
        {{/if}}
        {{#if (or product.new product.popular product.featured)}}
          <button type="button">
            {{#if product.new}}
              <span>NEW</span>
            {{else if product.popular}}
              <span>popular</span>
            {{else if product.featured}}
              <span>learn more</span>
            {{/if}}
            {{!-- <span>Explore</span> --}}
            <Svg::ArrowRight />
          </button>
        {{/if}}
      </LinkTo>
    {{/each}}
  </div>

  {{#if this.hiddenProducts}}
    <div class="toggle">
      <Button::Action
        @action={{this.toggle}}
        @text={{if this.showAll "Show less" (concat "Show all (" this.hiddenCount ")")}}
        @size="medium"
        @style="grey"
      />
    </div>
  {{/if}}
</Section>