<header id='desktop' role='banner' aria-label='site' class={{@theme}}>
  <nav aria-label='page'>
    <Button @route='index' @id='logo' @class='left'>
      <img
        src='{{env
          'cdnHost'
        }}/images/logos/secondary-interflux-electronics-logo-1-transparent.svg'
        width='3960'
        height='1000'
        alt='Interflux Electronics'
      />
    </Button>

    <ul class='center'>
      <li id='products'>
        <Button @text='Products' @onClick={{this.toggleMenu}} />
        <Header::Desktop::Menu::Products @isOpen={{this.showProducts}} />
      </li>

      <li id='processes'>
        <Button @text='Processes' @onClick={{this.toggleMenu}} />
        <Header::Desktop::Menu::Processes @isOpen={{this.showProcesses}} />
      </li>

      <li id='know-how'>
        <Button @text='Webinars' @route='home.webinars' />
      </li>

      <li id='company'>
        <Button @text='Company' @route='home.company' />
      </li>

      <li id='docs'>
        <Button @text='Docs' @route='home.documents' />
      </li>

      <li id='contact'>
        <Button @text='Contact' @route='home.contact' />
      </li>
    </ul>

    <div class='right'>
      {{!--
      <Button
        @text='Order'
        @onClick={{this.openOrderModal}}
        @icon='truck'
        @theme='large primary orange icon-left'
      />

      <Button @icon='search' @text='Search' @onClick={{this.openSearchModal}} />

      <Button
        @text='Your account'
        @icon='user'
        @onClick={{this.openAccountModal}}
      />
    --}}
    </div>
  </nav>
</header>