<Page @id="products-index">
  <Header />

  <main>
    <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products')
    }} />

    <article aria-label="products">
      <div class="liner">
        <div class="box">
          <h1 id="h1">Products <small>by family</small></h1>

          {{#each this.sortedFamilies as |family|}}
            <section aria-labelledby="h2-{{family.id}}">
              <h2 id="h2-{{family.id}}">{{family.label}}</h2>
              <a href={{href-to 'home.products.subset' family.id}}>
                {{#each family.images as |image|}}
                  <ResponsiveImage @image={{image}} />
                {{/each}}
                <div>
                  <p class="button">
                    <span>See all</span>
                    <Svg::ArrowRight />
                  </p>
                </div>
              </a>
            </section>
          {{/each}}
        </div>

        <div class="box">
          <h1 id="h1">Products <small>by process</small></h1>

          {{#each this.sortedUses as |use|}}
            <section aria-labelledby="h2-{{use.id}}">
              <h2 id="h2-{{use.id}}">For {{use.text}}</h2>
              <a href={{href-to 'home.products.subset' (concat "for-" use.id)}}>
                {{#each use.images as |image|}}
                  <ResponsiveImage @image={{image}} />
                {{/each}}
                <div>
                  <p class="button">
                    <span>See all</span>
                    <Svg::ArrowRight />
                  </p>
                </div>
              </a>
            </section>
          {{/each}}
        </div>
      </div>
    </article>
  </main>

  <Footer />
</Page>