<figure
  class="responsive-image {{this.orientation}}{{if @class ' '}}{{@class}}"
  {{did-insert this.register}}
  {{on 'click' this.onClick}}
>
  <picture>
    {{#if this.valid}}
      {{#if this.optimal}}
        {{#if webp}}
          <source
            srcset="{{env 'cdnHost'}}/{{@image.path}}@{{this.optimal.width}}x{{this.optimal.height}}.webp"
            type="image/webp"
          >
        {{/if}}
        <img
          src="{{env 'cdnHost'}}/{{@image.path}}@{{this.optimal.width}}x{{this.optimal.height}}.jpg"
          width={{this.optimal.width}}
          height={{this.optimal.height}}
          alt={{@image.alt}}
          onload={{this.onLoad}}
          onerror={{this.onError}}
          {{did-insert this.check}}
        >
      {{/if}}
    {{/if}}
  </picture>

  {{#if this.showLoading}}
    <div class="loading">
      <LoadSpinner @icon="cup" />
    </div>
  {{/if}}

  {{#if this.showError}}
    <div class="error">
      <Image
        @src="{{env 'cdnHost'}}/images/logos/secondary-interflux-electronics-symbol-1.svg"
        @width="400"
        @height="400"
      />
    </div>
  {{/if}}

  {{#if @image.caption}}
    <figcaption>{{@image.caption}}</figcaption>
  {{/if}}
</figure>