<footer>

  <div id='logo'>
    <img
      id='electronics'
      src='{{cdn}}/images/logos/secondary-interflux-electronics-logo-1-transparent.svg'
      width='3960'
      height='1000'
      alt='Interflux Electronics'
    />

    <div id='group'>
      <p>
        {{markdown
          (t
            'Member of the [Interflux Group](https://interflux.group)'
            'footer.21'
          )
          (hash noParagraphs=true)
        }}
      </p>

      <img
        src='{{cdn}}/images/logos/secondary-interflux-electronics-symbol-1-blue-0.svg'
        width='20'
        height='20'
        alt='Interflux Group'
      />
    </div>
  </div>

  <div id='image'>
    <img
      src='{{cdn}}/images/public/footer-bg.png'
      alt={{t
        'office building of Interflux Electronics in Belgium'
        'footer.20'
      }}
    />
  </div>

  <div id='languages'>
    <section>
      <h3>{{t 'Continue in your language' 'footer.22'}}</h3>

      <LanguageList />
    </section>
  </div>

  <div id='links'>
    <section id='explore'>
      <h3>{{t 'Explore more' 'footer-23'}}</h3>

      <Link @url='https://lmpa-q.com'>
        <span>LMPA-Q {{t 'solder alloy' 'footer.26'}}<Svg::ArrowRight /></span>
      </Link>

      <Link @url='https://www.jetfluxer.com'>
        <span>ICSF Select6
          {{t 'jet fluxer' 'footer.27'}}<Svg::ArrowRight /></span>
      </Link>
    </section>

    <section id='partners'>
      <h3>{{t 'Partners' 'footer-24'}}</h3>

      <Link @url='https://interflux.group'>
        <span>Interflux Group<Svg::ArrowRight /></span>
      </Link>

      <Link @url='https://www.interflux.dk'>
        <span>Interflux Scandinavia<Svg::ArrowRight /></span>
      </Link>

      <Link @url='https://www.interflux.pl'>
        <span>Interflux Poland<Svg::ArrowRight /></span>
      </Link>
    </section>

    <section id='social'>
      <h3>{{t 'Follow Interflux' 'footer-25'}}</h3>

      <div class='horizontal'>
        <Link @url='https://www.linkedin.com/company/interflux-electronics/'>
          <Svg::Linkedin />
        </Link>

        <Link @url='https://twitter.com/interflux_elec'>
          <Svg::Twitter />
        </Link>

        <Link @url='https://www.youtube.com/@interfluxelectronicsnv1744'>
          <Svg::Youtube />
        </Link>
      </div>
    </section>

    <div class='spacer'></div>

    <section id='legal'>
      <p>&copy; 1980 -
        {{this.year}}
        <nobr>&reg; Interflux Electronics NV</nobr></p>
    </section>
  </div>
</footer>