{{#if this.showMobileHeader}}
  <Header::Mobile
    @title={{if @error 'Whoops' this.title}}
    @backRoute={{this.backRoute}}
    @backModel={{this.backModel}}
  />
{{/if}}

<div
  id='page'
  class={{this.pageClasses}}
  style={{this.pageStyle}}
  data-main={{this.id}}
  onclick={{this.onPageClick}}
>
  {{#if this.showDesktopHeader}}
    <Header::Desktop />
    {{#if @crumbs}}
      <Breadcrumbs @crumbs={{@crumbs}} />
    {{/if}}
  {{/if}}

  <main
    id={{this.id}}
    class={{this.mainClasses}}
    aria-labelledby={{@ariaLabelledby}}
    aria-describedby={{@ariaDescribedby}}
  >
    {{yield}}
  </main>

  <div class='spacer'></div>

  {{#if this.showFooter}}
    <Footer />
  {{/if}}
</div>