<li class='past-webinar-event'>
  <h3>
    <time datetime={{@webinar.kebabStartDate}}>
      <span>{{@webinar.humanStartDate}}</span>
    </time>
    {{span-each-word @webinar.title}}
  </h3>

  <div class='video'>
    {{#if @webinar.image}}
      <ResponsiveImage
        @path={{@webinar.image.path}}
        @variations={{@webinar.image.variations}}
        @caption={{@webinar.image.caption}}
        @alt={{@webinar.image.alt}}
      />
    {{/if}}

    <div class='cta'>
      {{#if @webinar.video}}
        <Button
          @route='webinars.watch'
          @model={{@webinar.id}}
          @text={{t 'Watch replay' 'webinars.5'}}
          @icon='play'
          @theme='primary medium orange icon-left'
        />
      {{/if}}
    </div>
  </div>

  <div
    class='accordion {{if this.expanded "expanded" "collapsed"}}'
    style={{this.accordionStyle}}
    {{did-insert this.onInsertAccordion}}
  >
    <div class='content'>
      <h4>{{t 'Who should watch' 'webinars.6'}}</h4>
      {{markdown (t @webinar.audience 'webinars.13')}}

      <h4>{{t 'Topic' 'webinars.7'}}</h4>
      {{markdown (t @webinar.topic 'webinars.14')}}

      <h4>{{t 'Speaker' 'webinars.8'}}</h4>
      <div class='host'>
        <p>
          <span>Steven Teliszewski</span>
          <span>{{t 'COO at Interflux Electronics' 'webinars.9'}}</span>
          <span>{{t '30+ years of field experience' 'webinars.10'}}</span>
        </p>
        <Image
          @src='{{env "cdnHost"}}/images/people/steven-teliszewski@160x160.jpg'
        />
      </div>

      {{!--
      <h4>Details</h4>
      <p>
        <span>Date: {{@webinar.humanStartDate}}</span>
        <span>Attendees: 46</span>
        <span>Replays: 520</span>
      </p>
      --}}

      {{#if @webinar.document.id}}
        <Button
          @text='Download slides'
          @icon='cloud-download'
          @theme='primary medium green icon-left'
          @class='collapse'
          @url='{{env "cdnHost"}}/{{@webinar.document.path}}.pdf'
        />
      {{/if}}
    </div>
  </div>

  <Button
    @text={{if
      this.expanded
      (t 'Hide details' 'webinars.11')
      (t 'Show details' 'webinars.12')
    }}
    @icon={{if this.expanded 'arrow-up' 'arrow-down'}}
    @theme='secondary medium grey-border blue-focus icon-right'
    @onClick={{this.toggleAccordion}}
    @class='expand'
  />

  <div class='vertical-line'></div>
  <div class='dashed-line'></div>
  <div class='dot'></div>
</li>