<section
  id='partners-map'
  aria-labelledby='h1'
  class={{if this.company 'zoomed-in' 'zoomed-out'}}
>
  <Button
    @text='Go back'
    @icon='arrow-left'
    @theme='tertiary medium white-text icon-left'
    @route='contact'
    @class='back'
  />

  <h1 id='h1'>Interflux Worldwide</h1>

  {{#if @loading}}
    <div class='loading'>
      <p class='p'>Loading ...</p>
      <div class='preload'></div>
    </div>
  {{else}}
    <div id='mapbox' {{did-insert this.onInsertMap}}></div>

    {{#if this.company}}
      <aside>
        {{#with this.company as |c|}}
          <h2>{{c.businessName}}</h2>

          {{#if c.description}}
            <div class='description'>{{markdown c.description}}</div>
          {{/if}}

          <p class='p address'>
            {{#if c.legalName}}
              <span>{{c.legalName}}</span>
            {{/if}}
            {{#if c.address}}
              <span>{{c.address}}</span>
            {{/if}}
            {{#if c.country.nameEnglish}}
              <span>{{c.country.nameEnglish}}
                <Flag @country={{c.country}} /></span>
            {{/if}}
          </p>

          {{#if c.website}}
            <p class='p website'>
              <Link @url={{c.websiteForRobots}} @label={{c.websiteForHumans}} />
            </p>
          {{/if}}

          {{#if
            (or c.emailGeneral c.emailSupport c.emailOrders c.emailAccounting)
          }}
            <p class='p email'>
              {{#if c.emailGeneral}}
                <span>
                  <Link
                    @url='mailto:{{c.emailGeneral}}'
                    @label={{c.emailGeneral}}
                  />
                </span>
              {{/if}}

              {{#if c.emailSupport}}
                <span>
                  <Link
                    @url='mailto:{{c.emailSupport}}'
                    @label={{c.emailSupport}}
                  />
                </span>
              {{/if}}

              {{#if c.emailOrders}}
                <span>
                  <Link
                    @url='mailto:{{c.emailOrders}}'
                    @label={{c.emailOrders}}
                  />
                </span>
              {{/if}}

              {{#if c.emailAccounting}}
                <span>
                  <Link
                    @url='mailto:{{c.emailAccounting}}'
                    @label={{c.emailAccounting}}
                  />
                </span>
              {{/if}}
            </p>
          {{/if}}

          {{#if c.phone}}
            <p class='p phone'>
              <Link
                @url='tel:{{c.phoneForRobots}}'
                @label={{c.phoneForHumans}}
              />
            </p>
          {{/if}}

          {{#if c.fax}}
            <p class='p fax'>
              <Link @url='tel:{{c.faxForRobots}}' @label={{c.faxForHumans}} />
            </p>
          {{/if}}

          <ul class='members'>
            {{#each c.companyMembers as |member|}}
              <li>
                <div class='avatar'>
                  {{#if member.person.hasAvatar}}
                    <img
                      src='{{env 'cdnHost'}}{{member.person.avatarSrc}}'
                      alt={{member.person.fullName}}
                    />
                  {{else}}
                    <img
                      src='{{env 'cdnHost'}}/images/public/no-avatar.svg'
                      aria-hidden='true'
                      width='27'
                      height='27'
                    />
                  {{/if}}
                </div>

                <div class='details'>
                  <h3>{{member.person.fullName}}</h3>
                  {{#if member.title}}
                    <p class='p'>{{member.title}}</p>
                  {{/if}}
                  {{#if member.verifiedEmail}}
                    <p class='p'>
                      <Link
                        @url='mailto:{{member.verifiedEmail}}'
                        @label={{member.verifiedEmail}}
                      />
                    </p>
                  {{/if}}
                  {{#if member.verifiedPhone}}
                    <p class='p'>
                      <Link
                        @url='tel:{{member.phoneForRobots}}'
                        @label={{member.verifiedPhone}}
                      />
                    </p>
                  {{/if}}
                  {{#if member.verifiedLandline}}
                    <p class='p'>
                      <Link
                        @url='tel:{{member.landlineForRobots}}'
                        @label={{member.verifiedLandline}}
                      />
                    </p>
                  {{/if}}
                </div>
              </li>
            {{/each}}
          </ul>
        {{/with}}
      </aside>

      <div id='callout'>
        <Svg::ArrowRight />
      </div>

      <Button @onClick={{this.hideCompany}} @id='overlay' />
    {{/if}}

    {{! Markers are rendered here first, but soon after appended to Mapbox. }}
    <div id='markers'>
      {{#each this.companies as |c|}}
        <div id='marker-for-{{c.slug}}' class='icon'>
          <Button
            @onClick={{fn this.onMarkerClick c}}
            @class='marker {{if (eq this.company.id c.id) 'active'}}'
          >
            {{#if c.isHeadquarter}}
              <Svg::StarMarker />
            {{else}}
              <Svg::Marker />
            {{/if}}
            <p class='p'>
              <span>{{c.businessName}}</span>
              <Svg::ArrowDown />
            </p>
          </Button>
        </div>

        <div id='shadow-for-{{c.slug}}' class='shadow'>
          <Svg::MarkerShadow />
        </div>
      {{/each}}
    </div>
  {{/if}}

  <Button
    @text='Close'
    @icon='close'
    @theme='tertiary medium white-text icon-right'
    @route='contact'
    @class='close'
  />
</section>