{{#if (eq @model.category.slug 'REACH')}}

  <Modal @id='reach'>
    <Section>
      <Icon @name='file-medical' />
      <h3>{{@model.category.name}}</h3>
      <p>REACH is the legislation of the European Union regulating chemical
        substances across Europe. Interflux is subject to and in compliance with
        this legislation. If you have any questions or need specific documents
        regarding REACH, please contact our friendly team in Belgium:
      </p>
      <Button
        @url='mailto:reach@interflux.com'
        @text='reach@interflux.com'
        @theme='primary large orange'
      />
      <p>
        Alternatively, visit the
        <Link
          @url='https://osha.europa.eu/en/themes/dangerous-substances/reach'
          @label='REACH website'
        />.
      </p>
    </Section>
  </Modal>

{{else if (eq @model.category.slug 'SDS')}}

  <Modal @id='sds'>
    <Section>
      <Icon @name='file-medical' />
      <h3>{{@model.category.name}}</h3>
      <p>To obtain Safety Data Sheets, please contact our friendly REACH team in
        Belgium:</p>
      <Button
        @url='mailto:reach@interflux.com'
        @text='reach@interflux.com'
        @theme='primary large orange'
      />
    </Section>
  </Modal>

{{else}}

  <Modal @id='document-category'>
    <Section @class='text'>
      <div class='left'>
        <Icon @name={{@model.category.icon}} />
      </div>
      <div class='right'>
        <h3>{{@model.category.name}}</h3>
        <p>{{@model.category.gist}}</p>
      </div>
    </Section>

    <Section @id='documents' @class='list'>
      <SearchList @input-placeholder='Search' @input-class='big white shadow'>
        <ul>
          {{#each @model.category.documents as |document|}}
            <li>
              <div class='left'>
                <p data-search='me'>{{document.name}} (PDF)</p>
              </div>

              <div class='right'>
                {{#each document.files as |file|}}
                  <Button @url={{file.url}} @text={{file.language}} />
                {{/each}}
              </div>

            </li>
          {{/each}}
        </ul>
      </SearchList>
    </Section>
  </Modal>

{{/if}}