<Section
  @id="what"
  @class="text white"
>
  <div>
    <Icon @name={{@process.slug}} />
    <h1>{{capitalise @process.name}}</h1>
  </div>
  <p>{{@process.name}} is a technique for manufacturing electronics in which
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui <a href="#">read more here </a>officia
    deserunt mollit anim id est laborum.
  </p>
</Section>

{{!-- <Section
  @id="how"
  @class="text white"
>
  <h2>How it works</h2>
  <ol>
    <li>
      <p><strong>Step 1</strong> - Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
      <Image @src="{{env 'cdnHost'}}/images/processes/Ersa-5.jpg" />
    </li>
    <li>
      <p><strong>Step 2</strong> - Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <a href="#">Read more</a>
      </p>
      <Image @src="{{env 'cdnHost'}}/images/processes/Ersa-34.jpg" />
    </li>
    <li>
      <p><strong>Step 3</strong> - Tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    </li>
  </ol>
</Section> --}}

{{!-- <Section
  @id="good"
  @class="text white"
>
  <h2>Advantages of {{@process.name}}</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</Section> --}}

{{!-- <Section
  @id="bad"
  @class="text white"
>
  <h2>Downsides</h2>
  <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <a href="#">Read more</a>
  </p>
</Section> --}}

{{!-- <Section
  @id="bad"
  @class="text white"
>
  <h2>Problems that can occure during wave soldering</h2>
  <p>
    Bridging
    Definition:
    Possible causes:
    Not enough flux
    Solutions:
    More flux
  </p>
</Section> --}}

{{!-- <Section
  @id="quality"
  @class="text white"
>
  <h2>How to recognise quality</h2>
  <ol>
    <li>
      <p><strong>Reliability</strong> - Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
      <Image @src="{{env 'cdnHost'}}/images/processes/circuit-board-3.jpg" />
    </li>
    <li>
      <p><strong>Wetting</strong> - Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor.
      </p>
    </li>
    <li>
      <p><strong>Halide-free</strong> - Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident. <a
          href="#">Read more</a></p>
    </li>
  </ol>
</Section> --}}