<Section @id='partners-map' @aria-labelledby='h1'>
  <div id='heading'>
    <Button
      @text='Go back'
      @icon='arrow-left'
      @theme='tertiary medium white-text icon-left'
      @route='contact-new'
    />

    <h1 id='h1'>Interflux Worldwide</h1>

    <Button
      @text='Close'
      @icon='close'
      @theme='tertiary medium white-text icon-right'
      @route='contact-new'
    />
  </div>

  <div id='mapbox' {{did-insert this.onInsertMap}}></div>

  <div id='markers'>
    {{#each @model.companies as |c|}}
      <div id='marker-for-{{c.slug}}' class='icon'>
        <Button @route='partners.map.partner' @model={{c.slug}}>
          <Svg::Marker />
          <p>
            <span>{{c.businessName}}</span>
            <Svg::ArrowDown />
          </p>
        </Button>
      </div>

      <div id='shadow-for-{{c.slug}}' class='shadow'>
        <Svg::MarkerShadow />
      </div>
    {{/each}}
  </div>

  {{outlet}}
</Section>