<Section @id='partners-map' @aria-labelledby='h1'>
  <h1 id='h1'>Interflux Partners</h1>

  <div id='mapbox' {{did-insert this.onInsertMap}}></div>

  <div id='markers'>
    {{#each @model.companies as |c|}}
      <div id='marker-for-{{c.slug}}' class='icon'>
        <Button @route='partners.map.partner' @model={{c.slug}}>
          <Svg::Marker />
          <p>
            <span>{{c.businessName}}</span>
            <Svg::ArrowDown />
          </p>
        </Button>
      </div>

      <div id='shadow-for-{{c.slug}}' class='shadow'>
        <Svg::MarkerShadow />
      </div>
    {{/each}}
  </div>

  {{outlet}}
</Section>