<picture id={{@id}} class='stateful{{if @class (concat ' ' @class)}}'>
  {{#if this.error}}
    <div class='error'>
      <img
        src='{{env 'cdnHost'}}/images/icons/unknown.svg'
        alt='icon unknown'
      />
    </div>
  {{/if}}

  {{#if this.loading}}
    <div class='loading'>
      <LoadSpinner @icon='cup' />
    </div>
  {{/if}}

  <img
    src={{@src}}
    alt={{@alt}}
    width={{@width}}
    height={{@height}}
    onload={{this.onLoad}}
    onerror={{this.onError}}
  />
</picture>