<picture id={{@id}} class='stateful{{if @class (concat " " @class)}}'>
  {{#if this.error}}
    <div class='error'>
      <Shimmer::Image />
    </div>
  {{/if}}

  {{#if this.loading}}
    <div class='loading'>
      <Shimmer::Image />
    </div>
  {{/if}}

  <img
    src={{@src}}
    alt={{@alt}}
    width={{@width}}
    height={{@height}}
    onload={{this.onLoad}}
    onerror={{this.onError}}
  />
</picture>