{{! https://ogp.me/ }}
{{! https://developers.facebook.com/docs/sharing/webmasters/ }}
{{! https://developers.facebook.com/docs/sharing/best-practices#images }}

{{! template-lint-disable no-forbidden-elements  }}

{{! SEO basics  }}

<title>{{this.model.title}}</title>
<meta name='description' content='{{this.model.description}}' />
<meta name='robots' content='index, follow' />

{{#if this.model.canonicalURL}}
  <link rel='canonical' href='{{this.model.canonicalURL}}' />
{{/if}}

{{! Favicons }}
<link
  rel='icon'
  type='image/png'
  href='{{cdn}}/images/favicons/interflux-blue-favicon@228x228.png'
  sizes='228x228'
/>
<link rel='icon' href='/favicon.ico' type='image/x-icon' />

{{! Open graph, for social media  }}
<meta property='og:url' content={{this.model.canonicalURL}} />
<meta property='og:locale' content={{this.model.ogLocale}} />
<meta property='og:type' content={{this.model.ogType}} />
<meta property='og:title' content={{this.model.title}} />
<meta property='og:description' content={{this.model.description}} />
<meta property='og:image' content={{this.model.ogImageURL}} />
<meta property='og:image:width' content={{this.model.ogImageWidth}} />
<meta property='og:image:height' content={{this.model.ogImageHeight}} />
<meta property='og:image:alt' content={{this.model.ogImageAlt}} />

{{! For browsers  }}
<meta name='theme-color' content='#23578c' />

{{! About deploy & build }}
<meta name='environment' content={{this.model.environment}} />
<meta name='build-timestamp' content={{this.model.buildTimestamp}} />
<meta name='git-branch' content={{this.model.gitBranch}} />
<meta name='git-revision' content={{this.model.gitRevision}} />

{{! About developer }}
<meta name='built-by' content='Jan Werkhoven, jw@interflux.au' />
<meta name='built-with' content='Ember Octane, https://emberjs.com/' />

{{! Legal }}
<meta name='copyright' content='© since 1980 by Interflux Electronics NV ®' />

{{! Multilingual SEO }}
{{! https://developers.google.com/search/docs/specialty/international/managing-multi-regional-sites }}
{{! https://developers.google.com/search/docs/specialty/international/localized-versions }}
{{! http://www.lingoes.net/en/translator/langcode.htm }}

{{#let this.model.canonicalPath as |cp|}}
  <link rel='alternate' hreflang='en' href='https://interflux.com{{cp}}' />
  <link rel='alternate' hreflang='de' href='https://interflux.de{{cp}}' />
  <link rel='alternate' hreflang='fr' href='https://interflux.fr{{cp}}' />
  <link rel='alternate' hreflang='zh' href='https://interflux.cn.com{{cp}}' />
  <link rel='alternate' hreflang='es-ES' href='https://interflux.es{{cp}}' />
  <link rel='alternate' hreflang='es-MX' href='https://interflux.mx{{cp}}' />
{{/let}}

{{! Mapbox }}
{{! Only load the CSS and JS for mapbox if the router asked for it }}
{{#if this.model.loadMapBox}}
  <link
    href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css'
    rel='stylesheet'
  />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'>
  </script>
{{/if}}

{{#if this.model.microData}}
  <script type='application/ld+json'>
    {{this.model.microData}}
  </script>
{{/if}}