<div
  class="checkbox {{this.classes}}"
  role="checkbox"
  aria-checked="{{@checked}}"
  aria-labelledby="input-{{@id}}"
  tabindex="0"
  {{on 'click' this.onClick}}
  {{on 'keydown' this.onKeyDown}}
  {{did-insert this.onInsert}}
>
  {{#if @checked}}
    <Svg::Check />
  {{/if}}
</div>