<div class='liner'>
  <BackNav @backRoute='products' @backLabel={{t 'All products' 'products.1'}} />

  <div class='columns'>
    {{#if this.media.isDesktopWidescreen}}
      <aside>
        <div class='sticky'>
          <fieldset id='search'>
            <legend>{{t 'Find a product' 'products.2'}}</legend>
            <Search
              @placeholder={{this.searchPlaceHolder}}
              @onSelect={{this.openProductPage}}
              @searchModel='product'
              @searchLabel='name'
              @searchFilter='name'
              @minKeyStrokes='1'
            />
          </fieldset>

          <fieldset>
            <legend>{{t 'Products we develop' 'products.3'}}</legend>
            <ul class='links'>
              {{#each this.familyRadios as |radio|}}
                <li>
                  <a
                    href={{href-to 'products.subset' radio.id}}
                    class={{if radio.isChecked 'active'}}
                    {{on 'click' (fn this.openSubsetPage radio.id)}}
                  >
                    <span class='label'>
                      {{t radio.label 'products.4' radio.id}}
                    </span>
                    <Svg::ArrowRight />
                  </a>
                </li>
              {{/each}}
            </ul>
          </fieldset>

          <fieldset>
            <legend>{{t 'Processes we support' 'products.5'}}</legend>
            <ul class='links'>
              {{#each this.useRadios as |radio|}}
                <li>
                  <a
                    href={{href-to 'products.subset' radio.id}}
                    class={{if radio.isChecked 'active'}}
                    {{on 'click' (fn this.openSubsetPage radio.id)}}
                  >
                    <span class='label'>
                      {{t radio.label 'products.5' radio.id}}
                    </span>
                    <Svg::ArrowRight />
                  </a>
                </li>
              {{/each}}
            </ul>
          </fieldset>

          <fieldset>
            <legend>{{t 'Filter' 'products.6'}}</legend>
            {{#each this.statusCheckboxes as |checkbox|}}
              <div class='checkbox-group'>
                <Checkbox
                  @id={{checkbox.id}}
                  @checked={{checkbox.isChecked}}
                  @onClick={{fn this.toggleStatus checkbox.id}}
                />
                <label for='input-{{checkbox.id}}'>
                  <span>
                    {{t checkbox.label 'products.7' checkbox.id}}&nbsp;
                  </span>
                </label>
              </div>
            {{/each}}
          </fieldset>
        </div>
      </aside>
    {{/if}}

    <article {{did-insert this.onInsertArticle}}>
      <h1 id='h1'>{{this.pageTitle}}</h1>

      {{#if this.isLoading}}
        <Shimmer::ProductRows::Desktop />
      {{else}}
        {{#if this.groupByAlloy}}
          {{#each this.sections as |s i|}}
            {{#if (or s.visibleRows.length s.visibleRows.length)}}
              <section aria-labelledby='h2-{{i}}'>
                <div class='intro'>
                  <h2 id='h2-{{i}}'>
                    {{t s.title 'products.9' s.title}}
                  </h2>
                </div>

                <ul class='visible'>
                  {{#each s.visibleRows as |row|}}
                    <ProductRow
                      @product={{row.product}}
                      @avatar={{row.avatar}}
                    />
                  {{/each}}
                </ul>
                {{#if s.hiddenRows.length}}
                  <Button
                    @text='Show {{s.hiddenRows.length}} more'
                    @icon='arrow-down'
                    @theme='secondary medium grey-border blue-focus icon-right'
                    @onClick={{this.toggleHiddenRows}}
                    @class='expand'
                  />

                  <ul class='hidden'>
                    {{#each s.hiddenRows as |row|}}
                      <ProductRow
                        @product={{row.product}}
                        @avatar={{row.avatar}}
                      />
                    {{/each}}
                  </ul>

                  <Button
                    @text='Hide outdated products'
                    @icon='arrow-up'
                    @theme='secondary medium grey-border blue-focus icon-right'
                    @onClick={{this.toggleHiddenRows}}
                    @class='collapse'
                  />
                {{/if}}
              </section>
            {{/if}}
          {{/each}}
        {{else}}
          <ol>
            {{#each this.mainFamilies as |mainFamily|}}
              <li
                id={{mainFamily.id}}
                class='main-family-for-use'
                labelledby='h2-{{mainFamily.id}}'
              >
                <div class='intro'>
                  <div class='title'>
                    <h2 id='h2-{{mainFamily.id}}'>
                      {{t
                        (concat mainFamily.label ' for ' this.use.text)
                        'products.10'
                        (dasherize
                          (concat mainFamily.label ' for ' this.use.text)
                        )
                      }}
                    </h2>
                  </div>
                </div>
              </li>

              <li
                id='other-{{mainFamily.id}}'
                class='sub-family'
                labelledby='h2-other-{{mainFamily.id}}'
              >
                <div class='intro'>
                  <div class='title'>
                    <h2 id='h2-other-{{mainFamily.id}}'>
                      {{t
                        (concat 'Other ' mainFamily.namePlural)
                        'products.13'
                        mainFamily.id
                      }}
                    </h2>
                  </div>
                </div>
              </li>
            {{/each}}

            {{#each this.subFamilies as |subFamily|}}
              <li
                id={{subFamily.id}}
                class='sub-family'
                labelledby='h2-{{subFamily.id}}'
              >
                <div class='intro'>
                  <div class='title'>
                    <h2 id='h2-{{subFamily.id}}'>
                      {{t subFamily.label 'products.14' subFamily.id}}
                    </h2>
                  </div>
                </div>
              </li>
            {{/each}}

            {{#each this.sortedProducts as |product|}}
              <ProductRow @product={{product}} />
            {{/each}}
          </ol>
        {{/if}}
      {{/if}}
    </article>
  </div>
</div>